// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .formelem {
    padding: 1.25rem;
    min-width: 25rem;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .formButton {
    background-color: $primary;
    color: white;
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase !important;
    border-color: #f69021;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .formButton:hover {
    color: #fff;
    background-color: #e77d09;
    border-color: #db7609;
  }
  form#contactForm {
    .form-group {
      margin-bottom: $grid-gutter-width;
      input,
      textarea {
        padding: 1.25rem;
      }
      input.form-control {
        height: auto;
      }
    }
    .form-group-textarea {
      height: 100%;
      textarea {
        height: 100%;
        min-height: 10rem;
      }
    }
    p.help-block {
      margin: 0;
    }
    .form-control:focus {
      border-color: $primary;
      box-shadow: none;
    }
    ::-webkit-input-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
    :-moz-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
    ::-moz-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
    :-ms-input-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
  }
}
