// Styling for the portfolio section
#timeline {
  .timeline-item {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    .timeline-caption {
      padding: 1.5rem;
      text-align: center;
      background-color: $white;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
