---
layout: document
---

  <link
    title="timeline-styles"
    rel="stylesheet"
    href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css"
  />
  <script
    defer
    src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"
  ></script>

  <!-- Styles -->
  <link href="/assets/css/history/styles.css" rel="stylesheet" />
</head>

<body>
  {% include components/nav %}
  {{ content }}
  {% include components/footer %}
  <script src="/assets/js/bootstrap.min.js"></script>
  <script defer src="/assets/js/timelineHistory.js"></script>
</body>

