---
layout: document
---

  <!-- Styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
  {% include components/nav , active: -1 %} {% include
  components/masthead,title, url:
  "/assets/img/index/header-bg.jpg" %}
  <main>
    <section class="page-section bg-light">
      <div class="container">
        {{ content }}
      </div>
    </section>
  </main>
  {% include components/footer %}
  <script src="/assets/js/bootstrap.min.js"></script>
</body>
