<!DOCTYPE html>
<html lang="de">
  <head>
    <title>AK Video</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/frontpage/styles.css" rel="stylesheet" />
    <script src="/assets/js/bootstrap.min.js"></script>
  </head>

  <body data-bs-spy="scroll" data-bs-target="#navbar">
    {% include nav.liquid %}
    {{ content }}
    {% include footer.liquid %}
  </body>
</html>
