---
layout: document
---

  <!-- Favicons -->
  {% include components/favicons %}
  <!-- Styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
  {% include components/nav , active: -1 %}
  {{ content }}
  {% include components/footer %}
</body>

<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>

