<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Schreib uns!</h2>
      <h3 class="section-subheading text-light">
        Wir freuen uns immer über Feedback und neue Mitglieder, sowohl Kreative
        als auch Sponsoren.
      </h3>
    </div>
    <form name="contact" method="POST">
      <input type="hidden" name="form-name" value="contact" />
      <div class="row" style="overflow: hidden">
        <div class="col-lg-6 col-sm-12 text-center">
          <label style="color: transparent">
            name
            <input class="formelem" name="name" placeholder="Dein Name" />
          </label>
        </div>
        <div class="col-lg-6 col-sm-12 text-center">
          <label style="color: transparent">
            E-Mail Adresse
            <input
              class="formelem"
              type="email"
              name="email"
              placeholder="Deine E-Mail Adresse"
            />
          </label>
        </div>
      </div>
      <div class="text-center" style="overflow: hidden">
        <label style="color: transparent">
          Nachricht
          <textarea
            class="formelem"
            name="message"
            placeholder="Deine Nachricht an uns"
            style="min-width: 61rem; min-height: 10rem"
          ></textarea>
        </label>
      </div>
      <div class="text-center">
        <button class="formButton mt-4" type="submit">
          Nachricht abschicken
        </button>
      </div>
    </form>
  </div>
</section>
