<header class="masthead" style="background-image: url({{ url }})">
  <div class="container">
    <div class="masthead-heading text-uppercase">{{ title }}</div>
    <div class="masthead-subheading">{{ subtitle }}</div>
  </div>
</header>
