@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab&display=swap");
@import "../bootstrap.scss";
@import "../components/contact";
@import "../components/timeline";

$font-family-base: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

p {
  font-family: $font-family-base;
  text-align: justify;
}

blockquote p {
  @extend .border-4;
  @extend .border-start;
  @extend .ps-3;
  @extend .mt-3;
}
blockquote p:last-child::before {
  content: "- ";
}
