@import "../bootstrap.scss";
@import "../components/contact";
@import "../components/timeline";

p {
  text-align: justify;
}

blockquote p {
  @extend .border-4;
  @extend .border-start;
  @extend .ps-3;
  @extend .mt-3;
}
blockquote p:last-child::before {
  content: "- ";
}

th {
  font-family: sans-serif;
}
