//- Modal 1: Address
#ModalAddress.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-dismiss='modal')
                img(src="/assets/img/close-icon.svg", alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            h2.text-uppercase Du willst wissen wo du uns finden kannst?
                            p.item-intro.text-muted Im B&uuml;rgerzentrum in M&uuml;nchberg
                            p Stadtjugend M&uuml;nchberg e.V. 
                                br
                                | Jugendtreff im B&uuml;rgerzentrum
                                br
                                | B&uuml;rgermeister-Specht-Platz 3
                                br
                                | 95213 M&uuml;nchberg
                            a(href="https://www.google.com/maps/place/Stadtjugend+Münchberg+e.V.+Jugendtreff+im+Bürgerzentrum/@50.1896871,11.7880962,18z/data=!4m5!3m4!1s0x47a10eeeb1b4d6f3:0xeb96308e36c4e6c3!8m2!3d50.18952!4d11.78746" target="_blank" style="font-weight: bold") in Google Maps ansehen
                            //- Adresse vom Büz, eventuell interaktive Karte
                            br
                            hr
                            button.btn.btn-primary(data-dismiss='modal', type='button')
                                i.fas.fa-times.mr-1
                                | Info-Karte schließen

//- Modal 2: Movies
#ModalMovies.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-dismiss='modal')
                img(src="/assets/img/close-icon.svg", alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            h2.text-uppercase Du willst unsere fertigen Filme ansehen?
                            p.item-intro.text-muted Manche findest du auf YouTube:
                            .videolist#videolist
                                p  Leider können die Videos aktuell nicht geladen werden
                            script(src='/js/loadxmlVideos.js')                                
                            p   Die meisten anderen Filme k&ouml;nnen&#32;
                                a(href="#contact" data-dismiss='modal', type='button') auf Anfrage&#32;
                                |  als DVD bzw. Blu-ray ausgeliehen werden.
                            button.btn.btn-primary(data-dismiss='modal', type='button')
                                i.fas.fa-times.mr-1
                                | Info-Karte schließen

//- Modal 3: Phone
#ModalPhone.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-dismiss='modal')
                img(src="/assets/img/close-icon.svg", alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            h2.text-uppercase Du willst dich direkt mit uns in Kontakt setzen?
                            p.item-intro.text-muted Dann ruf uns einfach an!
                            ul.list-inline
                                li 
                                    a(href="#mailgo" data-tel="+491713595437") Hugo Singer
                                li 
                                    a(href="#mailgo" data-tel="+4915164331824") Philipp Jahn
                                li 
                                    a(href="#mailgo" data-tel="+4915170008124") Yannick Lang
                            button.btn.btn-primary(data-dismiss='modal', type='button')
                                i.fas.fa-times.mr-1
                                | Info-Karte schließen

//- Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-left
              .tooltipContainer 
                | Copyright &copy; AK Video 2020
                .tooltiptext
                  | This site is maintained by 
                  a(href='https://www.github.com/layaxx') Yannick Lang
                  
            .col-lg-4.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2.portfolio-link(data-toggle='modal', href='#ModalAddress')
                    i.fas.fa-address-card
                a.btn.btn-dark.btn-social.mx-2.portfolio-link(data-toggle='modal', href='#ModalMovies')
                    i.fab.fa-youtube
                a.btn.btn-dark.btn-social.mx-2.portfolio-link(data-toggle='modal', href='#ModalPhone')
                    i.fas.fa-phone-alt
            .col-lg-4.text-lg-right
                a.mr-3(href='/sitemap.html') Sitemap
                a.mr-3(href='/legal/impressum.html') Impressum
                a(href='/legal/datenschutz.html') Datenschutzerkl&auml;rung

//- Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

//- Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

//- Core theme JS
script(src='/js/scripts.js')

//- Mailgo  
script(src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")