doctype html
html(lang='de')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Ak Video')

        link(rel='icon', type='image/png', href='/assets/img/fav.png')

        title Seite nicht gefunden

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')


    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='/index.html#page-top')
                    img(src='/assets/img/logo.png', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/index.html#portfolio') Projekte
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/index.html#about') 20 Jahre AK
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/index.html#awards') Auszeichnungen
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Kontakt
        // Masthead
        header.masthead(style='background-image: url(/assets/img/header/header-error.jpg)')
            .container
                .masthead-heading.text-uppercase 404
                .masthead-subheading Leider existiert diese Seite nicht.

        // error
        section#error.page-section.bg-light
            .container
                .row
                    .text-center
                        h2.section-subheading(style='margin-bottom: 50px')
                            | Die angeforderte Seite wurde gel&ouml;scht oder hat nie existiert. Hier findest du andere interessante Seiten:

                .row
                    .col-lg-6.col-md-12.text-center(style='margin-bottom: 20px')
                        a(href='/index.html')
                            button.btn.btn-primary.btn-xl.text-uppercase Startseite
                    .col-lg-6.col-md-12.text-center(style='margin-bottom: 20px')
                        a(href='/projects/all.html')
                            button.btn.btn-primary.btn-xl.text-uppercase Projekt&uuml;bersicht
               


        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Ist einer der Links auf unserer Seite kaputt?
                    h3.section-subheading(style='color:white') Wir w&uuml;rden uns freuen, wenn du uns bei der Behebung des Fehlers hilfst.
                form(name='contact' method='POST' data-netlify='true')
                    .row(style='overflow: hidden;')
                      .col-lg-6.col-sm-12.text-center
                        p
                          label
                            input.formelem(type='from' name='name' placeholder='von welcher Seite kommst du?')
                      .col-lg-6.col-sm-12.text-center
                        p
                          label
                            input.formelem(type='to' name='email' placeholder='auf welche Seite wolltest du?')
                    .text-center(style='overflow: hidden;')
                      p
                        label
                          textarea.formelem(name='message' placeholder='sonstige Anmerkungen' style='min-width: 61rem; min-height: 10rem;')
                    .text-center
                      p
                        button.formButton(type='submit') Hinweis abschicken



        // Modal 1: Address
        #ModalAddress.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="/assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Du willst wissen wo du uns finden kannst?
                                    p.item-intro.text-muted Im B&uuml;rgerzentrum in M&uuml;nchberg
                                    p Stadtjugend M&uuml;nchberg e.V. 
                                        br
                                        | Jugendtreff im B&uuml;rgerzentrum
                                        br
                                        | B&uuml;rgermeister-Specht-Platz 3
                                        br
                                        | 95213 M&uuml;nchberg
                                    a(href="https://www.google.com/maps/place/Stadtjugend+Münchberg+e.V.+Jugendtreff+im+Bürgerzentrum/@50.1896871,11.7880962,18z/data=!4m5!3m4!1s0x47a10eeeb1b4d6f3:0xeb96308e36c4e6c3!8m2!3d50.18952!4d11.78746" target="_blank" style="font-weight: bold") in Google Maps ansehen
                                    // Adresse vom Büz, eventuell interaktive Karte
                                    br
                                    hr
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Info-Karte schließen

        // Modal 2: Movies
        #ModalMovies.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="/assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Du willst unsere fertigen Filme ansehen?
                                    p.item-intro.text-muted Manche findest du auf YouTube:
                                    ul.list-inline
                                        li 
                                            a(href="https://youtu.be/zVVgRe6Opjc") 	&bull; John's Adventure
                                    p   Die meisten anderen Filme k&ouml;nnen 
                                        a(href="#contact" data-dismiss='modal', type='button') auf Anfrage 
                                        |  als DVD ausgeliehen werden.
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Info-Karte schließen

        // Modal 3: Phone
        #ModalPhone.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="/assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Du willst dich direkt mit uns in Kontakt setzen?
                                    p.item-intro.text-muted Dann ruf uns einfach an!
                                    ul.list-inline
                                        li Hugo Singer: 0171 3595437
                                        li Yannick Lang: 0151 70008124
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Info-Karte schließen

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                      .tooltipContainer 
                        | Copyright &copy; AK Video 2020
                        .tooltiptext
                          | This site is maintained by 
                          a(href='https://www.github.com/layaxx') Yannick Lang

                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2.portfolio-link(data-toggle='modal', href='#ModalAddress')
                            i.fas.fa-address-card
                        a.btn.btn-dark.btn-social.mx-2.portfolio-link(data-toggle='modal', href='#ModalMovies')
                            i.fab.fa-youtube
                        a.btn.btn-dark.btn-social.mx-2.portfolio-link(data-toggle='modal', href='#ModalPhone')
                            i.fas.fa-phone-alt
                    .col-lg-4.text-lg-right
                        a.mr-3(href='/legal/impressum.html') Impressum
                        a(href='/legal/datenschutz.html') Datenschutzerkl&auml;rung

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')