doctype html
html(lang='de')

  include include/header.pug
    title AK Video - Geschichte
    meta(name='description', content='Der Arbeitskreis Video der Stadtjugend M&uuml;nchberg besteht nun schon seit &uuml;ber 20 Jahren. Diese Seite bietet einen &Uuml;berblick &uuml;ber unsere Geschichte.')
    meta(name='keywords', content='Hugo, Singer, B&uuml;rgerzentrum, B&uuml;z, AK Video, Arbeitskreis, Video, akvideo, Stadtjugend, SJM, Münchberg, Workshop, Projekt, Film, Jugendfilmarbeit, Jugendarbeit')
    script(defer src='/js/tothetop.js')
    style.
      #tothetop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        transform: rotate(270deg);
        border: none;
        outline: none;
        background-color: orange;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
      }
      #tothetop:hover {
        background-color: #555;
      }

  body#page-top

    a.js-scroll-trigger(href='#page-top' id="tothetop" title="Go to top") 
      i.fas.fa-2x.fa-arrow-right

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='index.html#page-top')
          picture
            source(type="image/webp" srcset="assets/img/logo.webp")
            img(src='assets/img/logo.png', alt='logo')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='index.html#portfolio') Projekte
            li.nav-item
              a.nav-link.js-scroll-trigger(href='index.html#about') 20 Jahre AK
            li.nav-item
              a.nav-link.js-scroll-trigger(href='index.html#awards') Auszeichnungen
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Kontakt
    //- Masthead
    header.masthead(style='background-image: url(assets/img/header/header-bg.webp)')
      .container
        .masthead-heading.text-uppercase Wir sind der AK Video.
        .masthead-subheading Unsere Entwicklung seit 2000

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

    section#about.page-section
      .container
        .row
          .col-lg-12
            h2.text-center Die Gr&uuml;ndung
            p(style='text-align:justify') Die Geschichte unseres Arbeitskreises beginnt, wie so manches unserer Projekte, mit&#32;
              a(href="hugo.html") Hugo Singer.
              | &#32;Der war um die Jahrtausendwende im Jugendtreff im M&uuml;nchberger B&uuml;rgerzentrum als Hauptamtlicher t&auml;tig.
              | 
              | Zusammem mit einigen Jugendlichen begann er, die verschiedenen Angebote und Aktivit&auml;ten auf Film festzuhalten.
              |
              | Nun mit der Technik vertraut, begannen Jonas Leutenberger, Sebastian Frank und Philipp Hirschmann zusammen mit anderen Jugendlichen, das Drehbuch f&uuml;r den ersten eigenen Kurzfilm zu schreiben.
              |
              | Daraus entwickelte sich schlussendlich&#32;
              a(href="projects/stadtkasse.html") "Die geklaute Stadtkasse",
              | &#32;eine Krimikom&ouml;die inklusive Verfolgungsjagd und der erste "richtige" Film des AK Video.
        .row
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="assets/img/history/image1.webp")
              img.img-fluid(src='assets/img/history/image1.jpg' alt='Zeitungsartikel')
            .portfolio-caption
              p(style='float: left;')
                em der erste Zeitungsartikel &uuml;ber den Arbeitskreis (Frankenpost 2000)
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="assets/img/projects/stadtkasse/image1.webp")
              img.img-fluid(src='assets/img/projects/stadtkasse/image1.jpg' alt='Stadtkasse')
            .portfolio-caption
              p(style='float: left;')
                em Dreharbeiten zu "Die geklaute Stadtkasse"
        .row
          .col-lg-5.col-md-12
            picture
              source(type="image/webp" srcset="assets/img/history/image3.webp")
              img(src='assets/img/history/image3.jpg' style='width:100%')
          .col-lg-7.col-md-12
            h2.text-center Weitere Filmprojekte
            p(style='text-align:justify; margin-left: 30px; margin-top:40px;') Weiter ging es mit dem Kurzfilm&#32;
              a(href='projects/probe.html') Die Probe
              | &#32;den wir zusammen mit Sch&uuml;ern aus Poppenreuth gedreht haben, und mit dem wir beim&#32;
              | JuFinale 2003 den Preis für den besten Film gewinnen konnten. Zwei Jahre sp&auml;ter erkundeten wir zusammen mit Grundsch&uuml;lern einen sagenumwobenen Geheimgang, der M&uuml;nchberg mit der&#32;
              | Waldsteinburg verbinden soll (
              a(href='projects/unterwelt.html') M&uuml;nchbergs TRAUMhafte Unterwelt
              | ). Der Waldstein war sp&auml;ter auch die Kulisse f&uuml;r einen weiteren Film:&#32;
              a(href='projects/waldstein') Das Geheimnis des Waldsteins.
        .row
          .col-lg-12
            h2.text-center Kooperationen
            p(style='text-align:justify') Oft organisieren wir Workshops oder Filmprojekte zusammen mit anderen Jugendfilmgruppen in der Region. Insbesondere mit der Filmwerkstatt Helmbrechts,&#32;
              | aber auch mit den Jugendtreffs benachbarter Orte, so zum Beispiel Schwarzenbach oder Stammbach, konnten wir in der Vergangenheit schon erfolgreich Projekte auf die Beine stellen. Zusammen mit Jugendlichen&#32;
              | vom Schwarzenbacher Jugendtreff &quot;Gleis 2&quot; haben wir beispielsweise den Film&#32;
              a(href="projects/panzerknacker.html") Die Panzerknacker schlagen zu
              | &#32;gedreht und mit Jugendlichen des Stammbacher Jugendtreffs &quot;ZOOM&quot; den Film &quot;Das letzte Paket&quot;, der auch beim JuFinale einen Preis gewinnen konnte. Diese Kooperationen waren f&uuml;r&#32;
              | alle Beteiligten immer sehr wertvoll, da sie einen Austausch von Technik, Know-How und Helfern erm&ouml;glichen und damit auch die Realisierung komplexerer Projekte erlauben.
            h2.text-center Finanzierung
            p(style='text-align:justify') Bei vielen unserer Projekte werden wir vom Kreis- und Bezirksjugendring unterst&uuml;tzt;. Davon abgesehen sind wir als gemeinn&uuml;tziger Verein auch auf Spenden angewiesen.&#32;
              | Fr&uuml;her haben wir im alten G&ouml;tz-Geb&auml;ude mit der Organisation von Flohm&auml;rkten Geld f&uuml;r die Umsetzung neuer Filme verdient, seit dem Abriss des Geb&auml;udes fehlt uns diese Einnahmequelle allerdings.
        .row
          .col-lg-12
            h2.text-center Der Medienraum
            p(style='text-align:justify') Der Medienraum ist unser eigener Raum im zweiten Stock des B&uuml;rgerzentrums, in dem wir unsere Technik aufbewahren und uns treffen, um neue Ideen zu besprechen, Workshops durchzuf&uuml;hren oder Filme zu schneiden.
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="assets/img/history/image7.webp")
              img.img-fluid(src='assets/img/history/image7.jpg' alt='Medienraum alt')
            .portfolio-caption
              p(style='float: left;')
                em Medienraum Anfang der 2000er
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="assets/img/history/image9.webp")
              img.img-fluid(src='assets/img/history/image9.jpg' alt='Medienraum 2020')
            .portfolio-caption
              p(style='float: left;')
                em Teil des Medienraums 2020
    
    //- TODO:
      add more Content: 
        different names:
          Evolution Pictures
          Resign Films

    //- Contact
    section#contact.page-section
      .container
        .text-center
          h2.section-heading.text-uppercase Du willst Teil des AK Video werden?
          h3.section-subheading(style='color: white;')
            | Wir freuen uns immer &uuml;ber Feedback und neue Mitglieder, sowohl Kreative als auch Sponsoren.
        form#contactForm(name='contactHistory' method='POST' data-netlify='true')
          .row(style='overflow: hidden;')
            .col-lg-6.col-sm-12.text-center
              p(style="text-align: inherit;")
                label
                  input.formelem(type='text' name='name' placeholder='Dein Name')
            .col-lg-6.col-sm-12.text-center
              p(style="text-align: inherit;")
                label
                  input.formelem(type='email' name='email' placeholder='Deine E-Mail Adresse')
          .text-center(style='overflow: hidden;')
            p(style="text-align: inherit;")
              label
                textarea.formelem(name='message' placeholder='Dein Nachricht an uns' style='min-width: 61rem; min-height: 10rem;')
          .text-center
            p(style="text-align: inherit;")
              button.formButton(type='submit') Nachricht abschicken


    include include/footer.pug
