doctype html
html(lang='de')

    include include/header.pug
        title AK Video - Homepage
        meta(name='description', content='Der AK Video ist eine Arbeitskreis der Stadtjugend M&uuml;nchberg, in dem Jugendliche zusammen Filme produzieren.')
        meta(name='keywords', content='AK Video, Arbeitskreis, Video, akvideo, Stadtjugend, SJM, B&uuml;rgerzentrum, B&uuml;z, Münchberg, Workshop, Projekt, Film, Jugendfilmarbeit, Jugendarbeit')
        

    body#page-top

        //- Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    picture
                        source(type="image/webp" srcset="assets/img/logo.webp")
                        img(src='assets/img/logo.png', alt='logo')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Projekte
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') 20 Jahre AK
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#awards') Auszeichnungen
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Kontakt
        //- Masthead
        header.masthead(style='background-image: url(assets/img/header/header-bg.webp)')
            .container
                .masthead-heading.text-uppercase Wir sind der AK Video!
                .masthead-subheading Jugendfilmarbeit seit 2000.

        //- Replace wepb backgroundimage with jpeg version for Safari-based Browsers, as they currently do not support wep
        script.
            if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
            {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

        //- Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Projekte
                    h3.section-subheading.text-muted Eine Auswahl an Filmen und Projekten, die wir in den letzten Jahren organisiert haben.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(href='projects/grundschule.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-arrow-right.fa-3x
                                picture
                                    source(type="image/webp" srcset="assets/img/projects/kreuzbergschule.webp")
                                    img.img-fluid(src='assets/img/projects/kreuzbergschule.jpg', alt='Thumbnail GSM')
                            .portfolio-caption
                                .portfolio-caption-heading Kooperation mit der GS M&uuml;nchberg
                                .portfolio-caption-subheading.text-muted Workshop, 2020
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(href='projects/johns_adventure.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-arrow-right.fa-3x
                                picture
                                    source(type="image/webp" srcset="assets/img/projects/johns_adventure.webp")
                                    img.img-fluid(src='assets/img/projects/johns_adventure.jpg', alt='Thumbnail John´s Adventure')
                            .portfolio-caption
                                .portfolio-caption-heading John's Adventure
                                .portfolio-caption-subheading.text-muted Trickfilm, 2020
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(href='projects/sackgasse.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-arrow-right.fa-3x
                                picture
                                    source(type="image/webp" srcset="assets/img/projects/sackgasse.webp")
                                    img.img-fluid(src='assets/img/projects/sackgasse.jpg', alt='Thumbnail Sackgasse')
                            .portfolio-caption
                                .portfolio-caption-heading Sackgasse
                                .portfolio-caption-subheading.text-muted Kurzfilm, 2018
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(href='projects/clipped.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-arrow-right.fa-3x
                                picture
                                    source(type="image/webp" srcset="assets/img/projects/clipped.webp")
                                    img.img-fluid(src='assets/img/projects/clipped.jpg', alt='Thumbnail Clipped')
                            .portfolio-caption
                                .portfolio-caption-heading Clipped - &Uuml;bersteuert
                                .portfolio-caption-subheading.text-muted Kurzfilm (Workshop), 2016
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(href='projects/lichtblick.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-arrow-right.fa-3x
                                picture
                                    source(type="image/webp" srcset="assets/img/projects/lichtblick.webp")
                                    img.img-fluid(src='assets/img/projects/lichtblick.jpg', alt='Thumbnail Lichtblick')
                            .portfolio-caption
                                .portfolio-caption-heading Lichtblick
                                .portfolio-caption-subheading.text-muted Kurzfilm, 2015
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(href='projects/panzerknacker.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-arrow-right.fa-3x
                                picture
                                    source(type="image/webp" srcset="assets/img/projects/panzerknacker.webp")       
                                    img.img-fluid(src='assets/img/projects/panzerknacker.jpg', alt='Thumbnail Panzerknacker')
                            .portfolio-caption
                                .portfolio-caption-heading Panzerknacker
                                .portfolio-caption-subheading.text-muted Kurzfilm, 2015
                .row
                    .col-lg-12.text-center
                        a(href='projects/index.html')
                            button.btn.btn-primary.btn-xl.text-uppercase(style='margin-top: 5%; margin-bottom: -3%') Mehr Projekte


        //- About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase 20 Jahre AK Video
                    p.text-muted(style='margin-bottom: 5%; ') Der Arbeitskreis Video ist ein Zusammenschluss von Jugendlichen, die die Begeisterung f&uuml;r Film teilen und gerne selbst kreativ werden.
                        |
                        | Der AK Video ist Teil der Stadtjugend M&uuml;nchberg und wurde 1999 von&#32;
                        a(href="portrait/hugo.html") Hugo Singer
                        | &#32;gegr&uuml;ndet. Neben unseren Filmprojekten organisieren wir auch Workshops und Abenteuerfreizeiten. Da wir gr&ouml;ßtenteils Sch&uuml;ler und Studenten sind, sind wir auch immer auf der Suche nach&#32;
                        a(href="#contact") Sponsoren und Unterst&uuml;tzern
                        | &#32;f&uuml;r unsere&#32;
                        a(href="projects/index.html") Projekte.
                ul.timeline
                    li
                        .timeline-image
                            picture
                                source(type="image/webp" srcset="assets/img/index/1.webp")
                                img.rounded-circle.img-fluid(src='assets/img/index/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 2000-2005
                                h4.subheading Anfangsphase
                            .timeline-body
                                p.text-muted
                                    | Der AK Video hat Ende des zwanzigsten Jahrhunderts als
                                    |
                                    | Gruppe von filmbegeisterten Jugendlichen begonnen, die die verschiedenen Aktivit&auml;ten der Stadtjugend
                                    |
                                    | M&uuml;nchberg auf Video festhielten. 2000 drehte die erste Generation des
                                    |
                                    | Arbeitskreises den ersten gemeinsamen Kurzfilm:&#32;
                                    a(href="projects/stadtkasse.html") "Die geklaute Stadtkasse".
                    li.timeline-inverted
                        .timeline-image
                            picture
                                source(type="image/webp" srcset="assets/img/index/2.webp")
                                img.rounded-circle.img-fluid(src='assets/img/index/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 2005-2011
                                h4.subheading 2. Generation
                            .timeline-body
                                p.text-muted
                                    | In dieser Zeit fanden viele Kooperationen mit Schulen der Umgebung statt, so zum Beispiel der in Zusammenarbeit mit der Parkschule M&uuml;nchberg entstandene Film&#32;
                                    a(href="projects/unterwelt.html") "Die TRAUMhafte M&uuml;nchberger Unterwelt"
                                    | &#32;oder&#32;
                                    a(href="projects/stuhlgeschichten.html") "Stuhlgeschichten - Menschen auf St&uuml;hlen"
                                    | &#32;zusammen mit der staatlichen Realschule Helmbrechts.
                    li
                        .timeline-image
                            picture
                                source(type="image/webp" srcset="assets/img/index/3.webp")
                                img.rounded-circle.img-fluid(src='assets/img/index/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 2011-2019
                                h4.subheading 3. Generation
                            .timeline-body
                                p.text-muted
                                    | Mit Filmen wie&#32;
                                    a(href="projects/panzerknacker.html") "Die Panzerknacker",&#32;
                                    a(href="projects/lichtblick.html") "Lichtblick"
                                    | &#32;und&#32;
                                    a(href="projects/sackgasse.html") "Sackgasse"
                                    | &#32;war es insbesondere Philipp Jahn, der die 3. Generation des AK Video pr&auml;gte.
                    li.timeline-inverted
                        .timeline-image
                            picture
                                source(type="image/webp" srcset="assets/img/index/4.webp")
                                img.rounded-circle.img-fluid(src='assets/img/index/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 seit 2019
                                h4.subheading 4. Generation
                            .timeline-body
                                p.text-muted
                                    | Aktuell sind wir auf der Suche nach neuen, insbesondere auch j&uuml;ngeren Mitgliedern f&uuml;r den Arbeitskreis.
                                    |
                                    | Die meisten Mitglieder der letzten Generation sind noch dabei, aber aufgrund von Schule oder Studium nicht mehr
                                    |
                                    | in der Lage, so h&auml;ufig wie fr&uuml;her Projekte durchzuf&uuml;hren.
                                    |
                                    | Willst du mit dabei sein?&#32;
                                    a(href="#contact") Dann melde dich bei uns!
                    li.timeline-inverted.d-none.d-md-block
                        .timeline-image
                            h4
                                | Sei auch
                                br
                                | DU
                                br
                                | mit dabei!
                .row
                    .col-lg-12.text-center
                        a(href='geschichte.html')
                            button.btn.btn-primary.btn-xl.text-uppercase(style='margin-top: 5%; margin-bottom: -3%') detailliertere Chronik

        //- awards / Auszeichnungen
        section#awards.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Auszeich&shy;nungen & Preise
                    h3.section-subheading.text-muted Wir haben im Lauf der Jahre mit unseren Filmen an etlichen Wettbewerben teilgenommen 
                        br
                        | und einige Preise gewonnen. Hier eine Auswahl:
                .row
                    .col-lg-4
                        .award
                            picture
                                source(type="image/webp" srcset="assets/img/index/jufinale1.webp")
                                img.mx-auto.rounded-circle(src='assets/img/index/jufinale1.jpg', alt='Jufinale Trophäe')
                            h4 BESTER FILM
                            p.text-muted JUFINALE 2017
                            p f&uuml;r den Film&#32;
                                b
                                    a(href='projects/sackgasse.html') "Sackgasse"        
                    .col-lg-4
                        .award
                            picture
                                source(type="image/webp" srcset="assets/img/index/weisserElefant.webp")
                                img.mx-auto.rounded-circle(src='assets/img/index/weisserElefant.jpg', alt='weißer Elefant')
                            h4 Wei&szlig;er Elefant
                            p.text-muted Kinder-Medien-Preis 2012
                            p f&uuml;r den Film&#32;
                                b
                                    a(href='projects/zddz.html') "Zusammen durch die Zeit"    
                    .col-lg-4
                        .award
                            picture
                                source(type="image/webp" srcset="assets/img/index/jufinale1.webp")
                                img.mx-auto.rounded-circle(src='assets/img/index/jufinale1.jpg', alt='Jufinale Trophäe')
                            h4 BESTER FILM
                            p.text-muted JUFINALE 2003
                            p f&uuml;r den Film&#32;
                                b
                                    a(href='projects/probe.html') "Die Probe"    

        //- Contact Form
        section#contact.page-section
            .container
              .text-center
                h2.section-heading.text-uppercase Schreib uns!
                h3.section-subheading(style='color: white;')
                  | Wir freuen uns immer &uuml;ber Feedback und neue
                  |
                  | Mitglieder, sowohl Kreative als auch Sponsoren.
              form(name='contact' method='POST' data-netlify='true')
                .row(style='overflow: hidden;')
                  .col-lg-6.col-sm-12.text-center
                    p
                        label(style="color: transparent;") name
                            input.formelem(type='text' name='name' placeholder='Dein Name')
                  .col-lg-6.col-sm-12.text-center
                    p
                        label(style="color: transparent;") E-Mail Adresse
                            input.formelem(type='email' name='email' placeholder='Deine E-Mail Adresse')
                .text-center(style='overflow: hidden;')
                  p
                    label(style="color: transparent;") Nachricht
                        textarea.formelem(name='message' placeholder='Deine Nachricht an uns' style='min-width: 61rem; min-height: 10rem;')
                .text-center
                  p
                    button.formButton(type='submit') Nachricht abschicken

        //- Replace wepb backgroundimage with jpeg version for Safari-based Browsers, as they currently do not support wep
        script.
            if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
            {document.getElementById("contact").style.backgroundImage = document.getElementById("contact").style.backgroundImage.replace("webp", "jpg")}

        include include/footer.pug

        