doctype html
html(lang='en')

    include include/header.pug
    title AK Video

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    img(src='assets/img/logo.png', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Projekte
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') 20 Jahre AK
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#awards') Auszeichnungen
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Kontakt
        // Masthead
        header.masthead(style='background-image: url(assets/img/header/header-bg.jpg)')
            .container
                .masthead-heading.text-uppercase Wir sind der AK Video!
                .masthead-subheading Jugendfilmarbeit seit 2000.

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Projekte
                    h3.section-subheading.text-muted Eine Auswahl an Filmen und Projekten, die wir in den letzten Jahren organisiert haben.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(href='projects/grundschule.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/projects/kreuzbergschule.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Kooperation mit der GS Münchberg
                                .portfolio-caption-subheading.text-muted Workshop, 2020
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(href='projects/johns_adventure.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/projects/johns_adventure.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading John's Adventure
                                .portfolio-caption-subheading.text-muted Trickfilm, 2020
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(href='projects/sackgasse.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/projects/sackgasse.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Sackgasse
                                .portfolio-caption-subheading.text-muted Kurzfilm, 2018
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(href='projects/clipped.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/projects/clipped.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Clipped - &Uuml;bersteuert
                                .portfolio-caption-subheading.text-muted Kurzfilm (Workshop), 2016
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(href='projects/lichtblick.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/projects/lichtblick.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Lichtblick
                                .portfolio-caption-subheading.text-muted Kurzfilm, 2015
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(href='projects/panzerknacker.html')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/projects/panzerknacker.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Panzerknacker
                                .portfolio-caption-subheading.text-muted Kurzfilm, 2015
                .row
                    .col-lg-12.text-center
                        a(href='projects/all.html')
                            button.btn.btn-primary.btn-xl.text-uppercase(style='margin-top: 5%; margin-bottom: -3%') Mehr Projekte




        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase 20 Jahre AK Video
                    p.text-muted(style='margin-bottom: 5%; ') Der Arbeitskreis Video ist ein Zusammenschluss von Jugendlichen, die die Begeisterung für Film teilen und gerne selbst kreativ werden. Der AK Video ist Teil der Stadtjugend Münchberg und wurde 1999 von 
                        a(href="hugo.html") Hugo Singer 
                        | gegründet. Neben unseren Filmprojekten organisieren wir auch Workshops und Abenteuerfreizeiten. Da wir größtenteils Schüler und Studenten sind, sind wir immer auf der Suche nach 
                        a(href="#contact") Sponsoren und Unterstützern 
                        | für unsere 
                        a(href="projects/all.html") Projekte.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 2000-20XX
                                h4.subheading 1. Generation
                            .timeline-body
                                p.text-muted
                                    | Der AK Video hat sich Ende des zwanzigsten Jahrhunderts als
                                    | Gruppe von Jugendlichen begonnen, die verschiedene Aktivitäten der Stadtjugend
                                    | Münchberg auf Video festhielten. 2000 drehte die erste Generation des
                                    | Arbeitskreises den ersten gemeinsamen Kurzfilm: 
                                    a(href="projects/stadtkasse.html") "Die geklaute Stadtkasse".
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 20XX-20YY
                                h4.subheading 2. Generation
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 20YY-20ZZ
                                h4.subheading 3. Generation
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 seit 20ZZ
                                h4.subheading 4. Generation
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Sei auch
                                br
                                | DU
                                br
                                | mit dabei!

        // awards / Auszeichnungen
        section#awards.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Auszeich&shy;nungen & Preise
                    h3.section-subheading.text-muted Wir haben im Lauf der Jahre mit unseren Filmen an etlichen Wettbewerben teilgenommen 
                        br
                        | und einige Preise gewonnen. Hier eine Auswahl:
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/awards/jufinale1.jpg', alt='')
                            h4 BESTER FILM
                            p.text-muted JUFINALE 2017
                            br
                            | f&uuml;r den Film 
                            b
                                a(href='projects/sackgasse.html') "Sackgasse"        
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/awards/jufinale1.jpg', alt='')
                            h4 BESTER FILM
                            p.text-muted JUFINALE 2015
                            br
                            | f&uuml;r den Film 
                            b
                                a(href='projects/lichtblick.html') "Lichtblick"    
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/awards/jufinale1.jpg', alt='')
                            h4 BESTER FILM
                            p.text-muted JUFINALE 2013
                            br
                            | f&uuml;r den Film 
                            b
                                a(href='projects/hau_ab.html') "Hau ab!"    


        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Schreib uns!
                    h3.section-subheading(style='color:white') Wir freuen uns immer über Feedback und neue Mitglieder, 
                        | sowohl Kreative als auch Sponsoren.
                form#contactForm(name='sentMessage', novalidate='novalidate')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                input#name.form-control(type='text', placeholder='Name *', required='required', data-validation-required-message='Bitte teile uns deinen Namen mit.')
                                p.help-block.text-danger
                            .form-group
                                input#email.form-control(type='email', placeholder='E-Mail Adresse *', required='required', data-validation-required-message='Bitte gib deine E-Mail Adresse an, damit wir dir antworten können.')
                                p.help-block.text-danger
                            .form-group.mb-md-0
                                input#phone.form-control(type='tel', placeholder='Handynummer (optional)')
                                p.help-block.text-danger
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                textarea#message.form-control(placeholder='Nachricht *', required='required', data-validation-required-message='Was m&ouml;chtest du uns mitteilen?')
                                p.help-block.text-danger
                    .text-center
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Mitteilung abschicken



        include include/footer.pug


        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')