doctype html
html(lang='de')

    include include/header.pug
        title Sitemap - Arbeitskreis Video

    body#page-top

        //- Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='index.html#page-top')
                    img(src='assets/img/logo.png', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#portfolio') Projekte
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#about') 20 Jahre AK
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#awards') Auszeichnungen
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#contact') Kontakt
        //- Masthead
        header.masthead(style='background-image: url(assets/img/header/header-bg.jpg)')
            .container
                .masthead-heading.text-uppercase Sitemap
                .masthead-subheading &Uuml;bersicht über alle verf&uuml;gbaren Seiten

        //- Sitemap
        section#sitemap.page-section.bg-light
            .container
                .row
                    .sitemapcontainer(style="margin-left: auto; margin-right: auto; width: 50%;")

        script(src='js/loadxml.js')

               


        include include/footer.pug

        //- Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        //- Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        
        //- Core theme JS
        script(src='js/scripts.js')