doctype html
html(lang='de')

    include include/header.pug
        title Sitemap - AK Video
        meta(name='description', content='Eine &Uuml;bersicht &uuml;ber alle Seiten auf der Website des Ak Video.')
        meta(name='keywords', content='Hugo, Singer, B&uuml;rgerzentrum, B&uuml;z, AK Video, Arbeitskreis, Video, akvideo, Stadtjugend, SJM, Münchberg, Workshop, Projekt, Film, Jugendfilmarbeit, Jugendarbeit')

    body#page-top

        //- Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='index.html#page-top')
                    picture
                        source(type="image/webp" srcset="assets/img/logo.webp")
                        img(src='assets/img/logo.png', alt='logo')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#portfolio') Projekte
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#about') 20 Jahre AK
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#awards') Auszeichnungen
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='index.html#contact') Kontakt
        //- Masthead
        header.masthead(style='background-image: url(assets/img/header/header-bg.webp)')
            .container
                .masthead-heading.text-uppercase Sitemap
                .masthead-subheading &Uuml;bersicht über alle verf&uuml;gbaren Seiten

        script.
            if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
            {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

        //- Sitemap
        section#sitemap.page-section.bg-light
            .container
                .row
                    .sitemapcontainer(style="margin-left: auto; margin-right: auto; width: 50%;")
                      .alert.alert-warning(role="alert") Leider kann die Sitemap aktuell nicht angezeigt werden.
 
        script(src='js/loadxml.js')

        include include/footer.pug
