doctype html
html(lang='de')

    include ../include/header.pug
        title AK Video - Kari Hennig
        meta(name='description', content='Kari Hennig ist der einer der wichtigsten Unterst&uuml;tzer des Ak Video. Zusammen mit ihm haben wir schon viele Projekte verwirklicht.')
        meta(name='keywords', content='Kari, Hennig, Forchheim, Kameramann, B&uuml;rgerzentrum, B&uuml;z, AK Video, Arbeitskreis, Video, akvideo, Stadtjugend, SJM, Münchberg, Workshop, Projekt, Film, Jugendfilmarbeit, Jugendarbeit')

    body#page-top

        //- Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
                    picture
                        source(type="image/webp" srcset="../assets/img/logo.webp")
                        img(src='../assets/img/logo.png', alt='logo')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='../index.html#portfolio') Projekte
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='../index.html#about') 20 Jahre AK
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='../index.html#awards') Auszeichnungen
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='../index.html#contact') Kontakt
        //- Masthead
        header.masthead(style='background-image: url(../assets/img/header/header-bg.webp)')
            .container
                .masthead-heading.text-uppercase Kari Hennig
                .masthead-subheading Unterst&uuml;tzer und Coach

        script.
            if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
            {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

        section#about.page-section
            .container
              .row
                .col-lg-12
                    h2.section-heading.text-uppercase.text-center Wer ist Kari?
                    picture
                        source(type="image/webp" srcset="../assets/img/portrait/kari/portrait.webp")
                        img(src='../assets/img/portrait/kari/portrait.jpg' width='40%' style='float: left; margin-right: 5%; margin-bottom: 5%' alt='Kari')
                    p(style='text-align: justify')
                        | Kari Hennig ist ein Filmemacher aus Forchheim&#32;
                        a(href='https://schoenebuntefilme.de/') (Sch&ouml;ne Bunte Filme)
                        | . Seit&#32;
                        a(href="../projects/zddz.html") &quot;Zusammen durch die Zeit&quot;
                        | &#32;war Kari bei fast jedem unserer Projekte mit dabei. Als Referent bei Workshops hat er uns beigebracht, wie Kameras funktionieren, dass Ton genauso wichtig wie Bild ist und vieles mehr. Bei Filmprojekten wie&#32;
                        a(href='../projects/lichtblick.html') &quot;Lichtblick&quot;
                        | &#32;oder&#32;
                        a(href='../projects/sackgasse.html') &quot;Sackgasse&quot;
                        | &#32;hat Kari uns mit Technik unterst&uuml;tzt, Luftaufnahmen mit seiner Drohne gemacht und Behind-The-Scenes Fotos geschossen.

                    p(style="text-align: justify;")
                        | Mitglieder des Ak Video waren auch an Karis independent Filmen wie&#32;
                        a(href='https://www.schoenebuntefilme.de/grube/index.htm') &quot;Die Grube&quot;
                        | &#32;oder&#32;
                        a(href='https://www.schoenebuntefilme.de/fahrplan/') &quot;Der neue Fahrplan&quot;
                        | &#32;beteiligt, mit denen Kari bei Filmfestivals wie dem Barcelona Planet Film Festival oder dem Hollywood Boulevard Film Festival Preise gewinnen konnte.
                    
                    p(style='text-align: justify;')
                        | Au&szlig;erdem hat Kari ein&#32;
                        a(href='https://tredition.de/autoren/kari-hennig-22437/') Buch mit Kurzgeschichten
                        | &#32;ver&ouml;ffentlicht, die die Grundlage f&uuml;r Kurzfilme wie &quot;Sackgasse&quot; und &quot;Der neue Fahrplan&quot; bilden. 
                    
              .row
                .col-lg-6
                    picture
                        source(type="image/webp" srcset="../assets/img/portrait/kari/image1.webp")
                        img(src='../assets/img/portrait/kari/image1.jpg' width='100%' alt='Kari')
                    .portfolio-caption
                        em Kari bei den Dreharbeiten zu &quot;Das Geheimnis des Waldsteins&quot;
                .col-lg-6
                    picture
                        source(type="image/webp" srcset="../assets/img/portrait/kari/image2.webp")
                        img(src='../assets/img/portrait/kari/image2.jpg' width='100%' alt='Kari')
                    .portfolio-caption
                        em Kari bei den Dreharbeiten zu &quot;Zusammen durch die Zeit&quot;

        hr

        include ../include/footer.pug

