doctype html
html(lang='de')

  include ../include/header_projects.pug
    title AK Video - Hau ab

  body#page-top

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#overview') &Uuml;bersicht
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#film') Film
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bts') Behind The Scenes

    //- Masthead
    header.masthead(style='background-image: url(../assets/img/header/header-bg.webp)')
      .container
        .masthead-heading.text-uppercase Wir sind der AK Video!
        .masthead-subheading Das sind unsere Projekte aus den letzten 20 Jahren

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}





    include ../include/footer.pug
