doctype html
html(lang='de')

  include ../include/header_projects.pug
    title AK Video - Alle Projekte
    meta(name='description', content='&Uuml;bersicht &uuml;ber alle Filmprojekte, die der Ak Video in den vergangenen Jahren realisiert hat')
    meta(name='keywords', content='AK Video, Arbeitskreis, Video, Stadtjugend, SJM, B&uuml;rgerzentrum, B&uuml;z, Münchberg, Filme, Premiere, Videos, Workshop, nachvertonung, Jugendfilmarbeit, Jugendarbeit, projekt, making of, behind the scenes, hinter den kulissen')
    script(defer src='/js/tothetop.js')
    style.
      .text-muted {text-align: center;}
      #tothetop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        transform: rotate(270deg);
        border: none;
        outline: none;
        background-color: orange;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
      }

      #tothetop:hover {
        background-color: #555;
      }


  body#page-top


    button(onclick="topFunction()" id="tothetop" title="Go to top") 
      i.fas.fa-2x.fa-arrow-right

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#future') geplante Projekte
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#past') abgeschlossene Projekte
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html#contact') Kontakt


    //- Masthead
    header.masthead(style='background-image: url(../assets/img/header/header-bg.webp)')
      .container
        .masthead-heading.text-uppercase Wir sind der AK Video!
        .masthead-subheading Das sind unsere Projekte aus den letzten 20 Jahren

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

    //- geplante Projekte
    section#portfolio.bg-light.page-section
      .container#future
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Projekte in Planung
        .row
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='grundschule.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/kreuzbergschule.webp")
                img.img-fluid(src='../assets/img/projects/kreuzbergschule.jpg' alt='Thumbnail Workshop Grundschule M&uuml;nchberg')
            .portfolio-caption
              h4 Kooperation mit der GS M&uuml;nchberg
              p.text-muted Workshop
          .col-lg-4.col-md-0.portfolio-item

    section#portfolio.page-section
      .container#past
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Abge&shy;schloss&shy;ene Projekte
            .alert.alert-info Diese Auflistung erhebt keinen Anspruch auf Vollst&auml;ndigkeit. Sie soll lediglich einen &Uuml;berblick &uuml;ber unsere gr&ouml;ßeren Projekte geben.
        //- finished projects year 2020
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2020
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='johns_adventure.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/johns_adventure.webp")
                img.img-fluid(src='../assets/img/projects/johns_adventure.jpg' alt='Thumbnail Johns Adventure')
            .portfolio-caption
              h4 John&acute;s Adventure
              p.text-muted Trickfilm
          .col-lg-4.col-md-0.portfolio-item
        //- finished projects year 2019
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2019
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='https://www.facebook.com/kclblaugold1949/videos/1252944378190311/')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-external-link-alt.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/5_tolle_tage.webp")
                img.img-fluid(src='../assets/img/projects/5_tolle_tage.jpg' alt='Thumbnail 5 tolle Tage')
            .portfolio-caption
              h4 5 Tolle Tage
              p.text-muted Aftermovie
          .col-lg-4.col-md-0.portfolio-item
        //- finished projects year 2018
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2018
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/talentlos.webp")
                img.img-fluid(src='../assets/img/projects/talentlos.jpg' alt='Thumbnail Talentlos')
            .portfolio-caption
              h4 talentlos
              p.text-muted Kurzfilm (Freizeit)
          .col-lg-4.col-md-0.portfolio-item
        //- finished projects year 2017
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2017
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='sackgasse.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/sackgasse.webp")
                img.img-fluid(src='../assets/img/projects/sackgasse.jpg' alt='Thumbnail Sackgasse')
            .portfolio-caption
              h4 Sackgasse
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        //- finished projects year 2016
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2016
          .col-lg-4.col-md-6.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/hihoe.webp")
                img.img-fluid(src='../assets/img/projects/hihoe.jpg' alt='Thumbnail Hintere H&ouml;he')
            .portfolio-caption
              h4 Hintere H&ouml;he
              p.text-muted Schulprojekt
          .col-lg-4.col-md-6.portfolio-item
            a.portfolio-link(href='clipped.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/clipped.webp")
                img.img-fluid(src='../assets/img/projects/clipped.jpg' alt='Thumbnail Clipped')
            .portfolio-caption
              h4 Clipped - &Uuml;bersteuert
              p.text-muted Kurzfilm (Workshop)
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Flashdance Fever
              p.text-muted Aftermovie
        //- finished projects year 2015
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2015
          .col-lg-6.portfolio-item
            a.portfolio-link(href='panzerknacker.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/panzerknacker.webp")
                img.img-fluid(src='../assets/img/projects/panzerknacker.jpg' alt='Thumbnail Panzerknacker')
            .portfolio-caption
              h4 Panzerknacker
              p.text-muted Kurzfilm
          .col-lg-6.portfolio-item
            a.portfolio-link(href='lichtblick.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/lichtblick.webp")
                img.img-fluid(src='../assets/img/projects/lichtblick.jpg' alt='Thumbail Lichtblick')
            .portfolio-caption
              h4 Lichtblick
              p.text-muted Kurzfilm

        //- finished projects year 2014
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2014
          .col-lg-4.col-md-6.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='')
            .portfolio-caption
              h4 Historischer Weg M&uuml;nchberg
              p.text-muted Kurzfilm
          .col-lg-4.col-md-6.portfolio-item
            a.portfolio-link(href='handycap.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/handycap.webp")
                img.img-fluid(src='../assets/img/projects/handycap.jpg' alt='Thumbnail Handycap')
            .portfolio-caption
              h4 Handycap
              p.text-muted Kurzfilm
          .col-lg-4.col-md-6.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/stein.webp")
                img.img-fluid(src='../assets/img/projects/stein.jpg' alt='Thumbnail Der Stein')
            .portfolio-caption
              h4 Der Stein
              p.text-muted Kurzfilm (Freizeit)
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2013
          .col-lg-6.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 4 Freunde und die Droge
              p.text-muted Kurzfilm
          .col-lg-6.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Spuk im B&uuml;rgerzentrum
              p.text-muted Kurzfilm
        //- finished projects year 2012
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2012
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/dietelhof.webp")
                img.img-fluid(src='../assets/img/projects/dietelhof.jpg' alt='Thumbnail Dietelhof')
            .portfolio-caption
              h4 Kinder vom Dietelhof
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        //- finished projects year 2009
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2009
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Schneeflittchen
              p.text-muted Freizeit
          .col-lg-4.col-md-0.portfolio-item
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2008
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Die Br&uuml;cke am Tay
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2007
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 untitled Finale
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2005
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='unterwelt.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 M&uuml;nchbergs TRAUMhafte Unterwelt
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2004
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-times.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Das Testament
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2003
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='probe.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Die Probe
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item
        .row
          .col-lg-12.text-center
            h2.section-heading.text-muted 2000
          .col-lg-4.col-md-0.portfolio-item
          .col-lg-4.col-md-12.portfolio-item
            a.portfolio-link(href='stadtkasse.html')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-arrow-right.fa-3x
              picture
                source(type="image/webp" srcset="../assets/img/projects/platzhalter.webp")
                img.img-fluid(src='../assets/img/projects/platzhalter.jpg' alt='kein Bild verf&uuml;gbar')
            .portfolio-caption
              h4 Die geklaute Stadtkasse
              p.text-muted Kurzfilm
          .col-lg-4.col-md-0.portfolio-item


    hr

    include ../include/footer.pug
