doctype html
html(lang='de')

  include ../include/header_projects.pug
    title Lichtblick - AK Video
    meta(name='description', content='Behind the scenes zu unserem Kurzfilm "Lichtblick", den wir 2015 in der fr&auml;nkischen Schweiz produziert haben')
    meta(name='keywords', content='AK Video, Arbeitskreis, Video, Stadtjugend, SJM, Münchberg, Pottenstein, Haselbrunn, Zeltplatz, Camping, Schatzsuche, 2015, Natur, Jugendfilmarbeit, Jugendarbeit, projekt, making of, behind the scenes, hinter den kulissen')
  body#page-top
    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#overview') &Uuml;bersicht
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#trailer') Trailer
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bts') Behind The Scenes

    //- Masthead
    header.masthead(style='background-color: #5b3933; background-image: url(../assets/img/header/header-lichtblick.webp)')
      .container
        .masthead-heading.text-uppercase Lichtblick
        .masthead-subheading Kurzfilm aus dem Jahr 2015

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

    //- Tables
    section#overview.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase &Uuml;bersicht
        .row
          .col-sm-4
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th(colspan="2") technische Details
                tbody
                  tr
                    td Titel
                    td Lichtblick
                  tr
                    td Genre
                    td Kurzfilm
                  tr
                    td L&auml;nge
                    td 35:45
                  tr
                    td Produktionsjahr
                    td 2015
                  tr
                    td Produktionsort
                    td Fr&auml;nkische Schweiz
                  tr
                    td Aufl&ouml;sung
                    td UHD (16:9)
                  tr
                    td Kamera
                    td Blackmagic Pocket Cinema Camera
          .col-sm-4
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Cast
                    th
                tbody
                  tr
                    td Elias Koch
                    td Marius Blo&szlig;
                  tr
                    td Lennard Jahn
                    td Timo Rauh
                  tr
                    td Campleiter LJ
                    td Christoph Schaller
                  tr
                    td Campleiter CF
                    td Christian Schmalz
                  tr
                    td Louis Koch
                    td Niklas Jahn
                  tr
                    td Susanne Koch
                    td Christiane Jahn
                  tr
                    td Manuel Jahn
                    td Thomas Agel
                  tr
                    td Wanderer 1
                    td Hugo Singer
                  tr
                    td Wanderer 2
                    td Reiner Reichelt
                  tr
                    td Alfons 
                    td Bernd K&ouml;hler
          .col-sm-4
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Lagerfeuerjunkies
                    th Campingfreunde
                tbody
                  tr
                    td Alexander Tho&szlig;
                    td Saskia Villa
                  tr
                    td Christian Schubert
                    td Celina Gerspitzer
                  tr
                    td Gilian Offial
                    td Simone Schmitt
                  tr
                    td Lena Hertrich
                    td Silvia Fuchs
                  tr
                    td Maximilian Seiferth
                    td Jan Linhardt
                  tr
                    td Ricco Mehl
                    td Nicolas Neupert
                  tr
                    td Paul Sch&ouml;nberger
                    td Tobias Wei&szlig;enberger
                  tr
                    td Ronja Schuldner
                    td 
                  tr
                    td Lea Schaller
                    td 
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Crew
                    th
                tbody
                  tr
                    td Regie
                    td Philipp Jahn
                  tr
                    td Executive Producer
                    td Lucas Krau&szlig;
                  tr
                    td Co-Regie
                    td Hannah Eul
                  tr
                    td Kamera
                    td Philipp Jahn
                  tr
                    td Kameraassistenz
                    td Yannick Lang
                  tr
                    td Kameraassistenz
                    td Konstantin Agel
                  tr
                    td Ton
                    td Laura Loy
                  tr
                    td Ton
                    td Saskia Villa
                  tr
                    td Tontechnik
                    td Victor Fischer
                  tr
                    td Musik
                    td Kari Hennig
                  tr
                    td Licht
                    td Lucas Krau&szlig;

          .col-sm-6
            .team-member
              table.table.table-sm
                thead
                  tr
                    th(style='color: transparent') m
                    th
                tbody
                  tr
                    td Licht
                    td Adrian Ro&szlig;ner
                  tr
                    td Script/Klappe
                    td Lara Reichel
                  tr
                    td Schnitt/Colorgrade
                    td Philipp Jahn
                  tr
                    td Technikcrew
                    td Adrian Ro&szlig;ner
                  tr
                    td Technikcrew
                    td John H&ouml;llerich
                  tr
                    td Toncrew
                    td Selina Benker
                  tr
                    td Buch
                    td Philipp Jahn
                  tr
                    td Buch
                    td Marius Blo&szlig;
                  tr
                    td Drohnenaufnahmen
                    td Kari Hennig
                  tr
                    td Organisation
                    td Hugo Singer

    section#trailer.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Teaser &amp; Trailer
          .col-lg-12.text-center
            p Elias Koch braucht dringend Geld und bittet den Computerfreak Lennard um Hilfe.
              |
              | Die zwei v&ouml;llig unterschiedlichen Charaktere gehen deshalb in die Fr&auml;nkische Schweiz und suchen einen Code, mit dem sie an Geld kommen k&ouml;nnen.
              |
              | Elias ist die Arroganz in Person und Lennard ist der sch&uuml;chterne, ruhige Typ. Doch wie sollen die zwei an das Geld kommen, wenn nicht beide am selben Strang ziehen?
          .col-lg-6.col-md-12
            .video-container-wrapper
              .video-container(style='margin-bottom: 20px;')
                iframe(width='560' height='315' src='https://www.youtube-nocookie.com/embed/o6ffaNycQSs' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          .col-lg-6.col-md-12
            .video-container-wrapper
              .video-container(style='margin-bottom: -5%;')
                iframe(width='560' height='315' src='https://www.youtube-nocookie.com/embed/MKp10FyhZgU' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    section#bts.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Behind The Scenes
            .gap-20
        .row
          .col-lg-12
            h3.text-uppercase November 2014 - M&auml;rz 2015
            p
              | Anfang November 2014 startete die Crew mit dem Brainstorming. Die dort entstandene Geschichte
              |
              | hat noch nichts mit der finalen Version zu tun. 4&nbsp;andere Storys wurden verworfen - erst im
              |
              | M&auml;rz 2015 stand dann die endg&uuml;ltige Geschichte fest.
            .row
              .col-lg-2.col-md-0
              .col-lg-8.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/lichtblick/image1.webp")
                  img.img-fluid(src='../assets/img/projects/lichtblick/image1.jpg' alt='crew')
                .portfolio-caption
                  p.text-muted(style='float:right')
                    em Jannik Metz, Philipp Jahn, Adrian Ro&szlig;ner, Hannah Eul, Yannick Lang
                  p(style='float: left;')
                    em Die Crew bei der Entwicklung der Geschichte (M&auml;rz 2015)
              .col-lg-2.col-md-0
            h3.text-uppercase April 2015
            p
              | Nachdem die grobe Handlung feststand, wurde die Geschichte strukturiert, wodurch der
              |
              | Handlungsverlauf klar erkennbar wurde. Die Einzelheiten wurden noch mehrmals ge&auml;ndert, um die
              |
              | Spannung des Films zu erh&ouml;hen. Ende April ging es dann zum ersten Mal in
              |
              | die Fr&auml;nkische Schweiz, um einige Drehorte zu besichtigen und um Inspiration f&uuml;r die Geschichte
              |
              | zu bekommen.
            h3.text-uppercase Mai 2015
            p
              | Mitte Mai ging es dann mit einer gr&ouml;&szlig;eren Anzahl an Mitwirkenden nochmal in die Fr&auml;nkische
              |
              | Schweiz, diesmal ein ganzes Wochenende lang. Weitere Drehorte wurden besichtigt und auch die
              |
              | Geschichte wurde erneut besprochen und verbessert.
            h3.text-uppercase Juni 2015
            p
              | Nach zwei Wochen Erholung in den Pfingstferien ging es dann Anfang Juni mit dem Schreiben des
              |
              | Drehbuchs los. Au&szlig;erdem wurden die Hauptrollen charakterisiert und weitere Einzelheiten in die
              |
              | Geschichte eingebaut. Ende Juni drehte die
              |
              | Crew den Teaser und machte, zusammen mit dem Musiker und Hobbyfotografen Christian Schmalz, die
              |
              | Bilder f&uuml;r das DVD Label und die sozialen Netzwerke.
            .row
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/lichtblick/image4.webp")
                  img.img-fluid(src='../assets/img/projects/lichtblick/image4.jpg' alt='crew')
                .portfolio-caption
                  p.text-muted(style='float:right')
                    em
                      | Timo Rauh, Lucas Krau&szlig;, Adrian Ro&szlig;ner, Yannick Lang, Marius Blo&szlig;, Christian
                      | Schmalz, Philipp Jahn
                  p(style='float: left;')
                    em Teaserdreh &amp; Fotos (Juni 2015)
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/lichtblick/image3.webp")
                  img.img-fluid(src='../assets/img/projects/lichtblick/image3.jpg' alt='crew')
                .portfolio-caption
                  p(style='float: left;')
                    em Drehortbesichtigung
            h3.text-uppercase August &amp; September 2015
            p
              | Vom 25.08.2015 bis zum 05.09.2015 wurde dann nach einem Dreivierteljahr Planung der Film in der
              |
              | Fr&auml;nkischen Schweiz und in M&uuml;nchberg gedreht. Aufgrund unserer super Crew, die perfekt zusammen
              |
              | gearbeitet hat, konnten wir alle Szenen rechtzeitig fertig
              |
              | drehen. Jeden Tag wurde ca. 10 Stunden gedreht. Es war eine harte aber sehr sch&ouml;ne Arbeit!
            p
              | Weil so viele Personen auf einmal an einem Ort waren, musste alles im Voraus gut geplant werden.
              |
              | Und wenn die Crew nicht voll dabei gewesen, w&auml;re auch nicht alles so reibungslos abgelaufen.
              |
              | Danke an die Crew! Ohne einen Anh&auml;nger h&auml;tten wir unsere Technik
              |
              | nie von einem Drehort zum n&auml;chsten bekommen. Vielen Dank an die Firma Ordnung f&uuml;r die
              |
              | Bereitstellung!
            p
              | Nachdem der Dreh am 05.09.2015 dann abgeschlossen war, ging es am 06.09.2015 dann mit dem
              |
              | Schnitt los. 15 Stunden Rohmaterial m&uuml;ssen gesichtet, synchronisiert, gegradet und gemastert
              |
              | werden. Dieser Prozess wird bis zur Premiere am 24.10.2015 andauern.
            .row
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/lichtblick/image11.webp")
                  img.img-fluid(src='../assets/img/projects/lichtblick/image11.jpg' alt='crew')
                .portfolio-caption
                  p(style='float: left;')
                    em Filmdreh (August 2015)
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/lichtblick/image5.webp")
                  img.img-fluid(src='../assets/img/projects/lichtblick/image5.jpg' alt='crew')
            h3.text-uppercase Oktober 2015
            p
              | Zusammen mit vielen Leuten konnten wir im Judoclub M&uuml;nchberg eine tolle Premiere feiern!
            .row
              .col-lg-2.col-md-0
              .col-lg-8.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/lichtblick/image8.webp")
                  img.img-fluid(src='../assets/img/projects/lichtblick/image8.jpg' alt='premiere')
                .portfolio-caption
                  p(style='float: left;')
                    em Premiere in M&uuml;nchberg
              .col-lg-2.col-md-0
            h3.text-uppercase November 2015
            p
              | Wir haben beim JUFINALE 2015 in Bamberg den Preis f&uuml;r den besten Film gewonnen!
            .row
              .video-container-wrapper
                .video-container(style='margin-bottom: -5%;')
                  iframe(width='560' height='315' src='https://www.youtube-nocookie.com/embed/WauK6ITurX4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    include ../include/footer.pug
