doctype html
html(lang='de')

  include ../include/header_projects.pug
    title AK Video - Panzerknacker
    meta(name='description', content='Behind the scenes zu unserem Kurzfilm "Die Panzerknacker schlagen zu", den wir 2015 in Schwarzenbach gedreht haben')
    meta(name='keywords', content='AK Video, Arbeitskreis, Video, Stadtjugend, SJM, Münchberg, Panzerknacker, Schwarzenbach, 2016, Jugendfilmarbeit, Jugendarbeit, Donald Duck, Phantomias, Erika Fuchs, making of, behind the scenes, hinter den kulissen')

  body#page-top

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#overview') &Uuml;bersicht
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bts') Behind The Scenes
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#hintergrund') Hintergrund
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#dreh') Dreh
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#premiere') Premiere                   

    //- Masthead
    header.masthead(style='background-image: url(../assets/img/header/header-panzerknacker.webp)')
      .container
        .masthead-heading.text-uppercase Die Panzerknacker schlagen zu
        .masthead-subheading Kurzfilm aus dem Jahr 2015

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}


    //- Tables
    section#overview.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase &Uuml;bersicht
        .row
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th technische Details
                    th
                tbody
                  tr
                    td Titel
                    td Die Panzerknacker schlagen zu
                  tr
                    td Genre
                    td Kurzfilm
                  tr
                    td L&auml;nge
                    td 09:02
                  tr
                    td Produktionsjahr
                    td 2015
                  tr
                    td Produktionsort
                    td Schwarzenbach a.d. Saale
                  tr
                    td Aufl&ouml;sung
                    td FullHD
                  tr
                    td Kamera
                    td EOS 700D
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Cast & Crew
                    th
                tbody
                  tr
                    td Produktion
                    td Hugo Singer
                  tr
                    td Kamera & Schnitt
                    td Philipp Jahn
                  tr
                    td Tontechnik
                    td Hannah Eul
                  tr
                    td Tontechnik
                    td Yannick Lang
                  tr
                    td Tontechnik
                    td Adrian Roßner
                  tr
                    td Technik
                    td Lukas Pittroff
                  tr
                    td Technik
                    td Viktor Plaum


    section#bts.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Behind The Scenes
            .gap-20
        .row
          .col-lg-12
            h3#hintergrund.text-uppercase Hintergrund
            p
              | 2015 wurde in Schwarzenbach an der Saale das
              |
              a(href="http://www.erika-fuchs.de/") &#32;Erika-Fuchs-Haus&#32;
              |
              | er&ouml;ffnet, ein Museum zu Ehren der &Uuml;bersetzerin der Comics rund um Micky Maus und Donald Duck,
              | 
              | die jahrzehntelang in Schwarzenbach lebte und arbeitete. Bereits w&auml;hrend der Entwicklungsphase
              |
              | machten sich Jugendliche der Gitarrengruppe von Hugo Singer im Jugendtreff "Gleis 2" erste Gedanken
              |
              | &uuml;ber ein Filmprojekt zum Thema "Donald Duck", unter ihnen auch Joschka Plaum, der Weltmeister im Badewannenrennen.
              | 
              | Schließlich steht das Drehbuch: Die gef&uuml;rchteten Panzerknacker sind wieder einmal entwischt und terrorisieren
              | 
              | ganz Schwarzenbach, und es gibt nur einen der sie aufhalten kann...
            .row
              .col-lg-6.col-md-12
                a(title='Kreuzschnabel / CC BY-SA (https://creativecommons.org/licenses/by-sa/3.0)' href='https://commons.wikimedia.org/wiki/File:Erika-Fuchs-Haus,_Schwarzenbach_an_der_Saale.jpg')
                  img.img-fluid(style ='display: block; margin-left: auto; margin-right: auto; height: 340px;' alt='Erika-Fuchs-Haus, Schwarzenbach an der Saale' 
                    src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Erika-Fuchs-Haus%2C_Schwarzenbach_an_der_Saale.jpg/256px-Erika-Fuchs-Haus%2C_Schwarzenbach_an_der_Saale.jpg')
                  .portfolio-caption
                    p(style='color:black; text-align: center; display: block; margin-left: auto; margin-right: auto;')
                      em Das Erika-Fuchs-Haus
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image1.webp")
                  img.img-fluid(src='../assets/img/projects/panzerknacker/image2.jpg' alt='Die Panzerknacker')
                .portfolio-caption
                  p(style='float: left;')
                    em Die Panzerknacker &uuml;berqueren die Saale.
            h3#dreh.text-uppercase Der Dreh
            p
              | Geld von Straßenk&uuml;nstlern, Kunstwerke, der Tresor der Sparkasse: Nach ihrem Ausbruch brauchen die
              |
              | Panzerknacker erst einmal Geld und dabei ist nichts und niemand vor ihnen sicher.
              |
              | Zusammen mit den Jugendlichen aus dem Schwarzenbacher Jugendtreff "Gleis 2" haben wir ein Drehbuch finalisiert
              |
              | und umgesetzt. Als Kulisse dient hierf&uuml;r Schwarzenbach selbst,
              |
              | insbesondere das Ufer der s&auml;chsischen Saale, der Jugendtreff und das Gel&auml;nde der alten Porzellanfabrik
              |
              | Winterling, auf dem die Panzerknackerbande ihr Hauptquartier aufgeschlagen hat.
            .row
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image7.webp")
                  img.img-fluid(src='../assets/img/projects/panzerknacker/image7.jpg' alt='Kunstsch&auml;tze')
                .portfolio-caption
                  p(style='float: left;')
                    em gestohlene Kunstwerke
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image6.webp")
                  img.img-fluid(src='../assets/img/projects/panzerknacker/image6.jpg' alt='Raub des Banktresors')
                .portfolio-caption
                  p(style='float: left;')
                    em Angriff auf die Bank
            h3.text-uppercase Blaulicht, Explosionen und unbemannte Flugobjekte
            p
              | Nachdem die Panzerknacker den Tresor der Sparkasse geklaut und zu ihrem Wohnwagen transportiert haben, m&uuml;ssen sie nur noch an den Inhalt gelangen.
              |
              | Daf&uuml;r gibt es nat&uuml;rlich nur eine M&ouml;glichkeit: TNT. Beim Drehen dieser Szene hatten wir
              |
              | jede Menge Unterst&uuml;tzung: Neben einem Sprengmeister war die &ouml;rtliche Feuerwehr mit einer Drehleiter
              |
              | vor Ort und f&uuml;r zus&auml;tzliche Luftaufnahmen ließen wir auch noch eine Drohne inklusive Kamera fliegen. Vielen Dank hierf&uuml;r an
              |
              a(href='http://www.marcoschott.com/') &#32;Marco Schott&#32;
              | , der fr&uuml;her auch selbst aktives Mitglied im AK Video war.
              |
              | Zusammen mit Sch&uuml;lern der Grundschule gelingt es schlussendlich Phantomias, die Verbrecher einzufangen und der Polizei zu &uuml;bergeben.
            .row
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image8.webp")
                  img.img-fluid(src='../assets/img/projects/panzerknacker/image8.jpg' alt='Tresor')
                .portfolio-caption
                  p(style='float: left;')
                    em Der aufgesprengte Tresor
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image5.webp")
                  img.img-fluid(src='../assets/img/projects/panzerknacker/image5.jpg' alt='Panzerknackerbande')
                .portfolio-caption
                  p(style='float: left;')
                    em Panzerknacker

            h3#premiere.text-uppercase Film ab!
            p
              | ... hieß es am 28. November 2015 im inzwischen fertiggestellten Erika-Fuchs-Haus, das nat&uuml;rlich der perfekte Ort f&uuml;r die Premiere unseres Films war. Davor hatten wir noch im Museum
              |
              | einen kurzen Trailer im Comic-Stil produziert.
            .row
              .col-lg-6.col-md-12
                a(title='Artikel der Frankenpost &uuml;ber die Premiere' href='http://www.erika-fuchs.de/wp-content/uploads/2015/12/2015-12-01_frankenpost_Filmpremiere-Panzerknacker.pdf')
                  picture
                    source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image9.webp")
                    img.img-fluid( alt='Artikel der Frankenpost &uuml;ber die Premiere' src='../assets/img/projects/panzerknacker/image9.jpg')
                  .portfolio-caption
                    p(style='color:black;')
                      em Artikel der Frankenpost &uuml;ber die Premiere
              .col-lg-6.col-md-12
                picture
                  source(type="image/webp" srcset="../assets/img/projects/panzerknacker/image10.webp")
                  img.img-fluid(src='../assets/img/projects/panzerknacker/image10.jpg' alt='trailer')
                .portfolio-caption
                  p(style='float: left;')
                    em Frame aus dem Trailer




    include ../include/footer.pug
