doctype html
html(lang='de')

  include ../include/header_projects.pug
    title AK Video - Die geklaute Stadtkasse
    meta(name='description', content='Behind the Scenes zu unserem ersten Film Die geklaute Stadtkasse, den wir 2001 produziert haben')
    meta(name='keywords', content='AK Video, Arbeitskreis, Video, Stadtjugend, akvideo, B&uuml;rgerzentrum, Stadtkasse, Münchberg, Filme, B&uuml;rgermeister, Mofa, Explosion, Verfolgungsjagd, Jugendarbeit, projekt, behind the scenes, hinter den kulissen')

  body#page-top

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#overview') &Uuml;bersicht
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#synopsis') Zusammenfassung
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bts') Behind The Scenes


    //- Masthead
    header.masthead(style='background-image: url(../assets/img/header/header-stadtkasse.webp)')
      .container
        .masthead-heading.text-uppercase Die geklaute Stadtkasse
        .masthead-subheading Unser erster Kurzfilm

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

    //- Tables
    section#overview.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase &Uuml;bersicht
        .row
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th technische Details
                    th
                tbody
                  tr
                    td Titel
                    td Die geklaute Stadtkasse
                  tr
                    td Genre
                    td Kurzfilm
                  tr
                    td L&auml;nge
                    td ??
                  tr
                    td Produktionsjahr
                    td 2001
                  tr
                    td Produktionsort
                    td M&uuml;nchberg
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Crew
                    th
                tbody
                  tr
                    td Organisation
                    td Hugo Singer
                  tr
                    td Drehbuch
                    td Jonas Leutenberger
                  tr
                    td ??
                    td Sebastian Frank
                  tr
                    td Drehbuch
                    td Philipp Hirschmann
                                  

    section#synopsis.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase(style='margin-bottom: 5%') Kurz&shy;zusammen&shy;fassung
            p.
              Die Krimikom&ouml;die handelt von drei Jugendlichen, die ihr ganzes Geld versoffen und verspielt haben. Um wieder an etwas Bares zu kommen,&#32;
              schmieden sie den Plan, die Stadtkasse aus dem M&uuml;nchberger Rathaus zu stehlen. Auf ihren Mofas fl&uuml;chten sie mit der Beute, jetzt muss die Kasse&#32;
              nur noch geknackt werden.
    //BTS
    section#bts.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Behind The Scenes
            .gap-20
        .row
          .col-lg-12
            h3.text-uppercase Hintergrund
            p.
              &quot;Die geklaute Stadtkasse&quot; ist das erste gr&ouml;&szlig;ere Filmprojekt des Arbeitskreises Video. W&auml;hrend bei fr&uuml;heren Projekten entweder kleine&#32;
              Sketche abgedreht oder die Aktivit&auml;ten der Stadtjugend, beispielsweise der Abenteuerspielplatz im Sommer, verewigt worden sind, wurde an diesem Kurzfilm &uuml;ber ein Jahr gearbeitet.&#32;
              Neben dem Schreiben des Drehbuchs wurden auch Unterst&uuml;tzer und Drehorte gesucht. Anfang 2001 war es dann so weit: Die Geschichte stand fest. Jugendliche in Geldnot haben die Stadtkasse aus dem&#32;
              M&uuml;nchberger Rathaus geklaut, stellen dann aber fest, dass sich diese gar nicht so leicht öffnen lässt. Als sie schließlich doch einen explosiven Weg finden, sind sie von der Menge des enthaltenen&#32;
              Geldes entt&auml;uscht und beschlie&szlig;en, die Kasse zur&uuml;ckzubringen.

        .row
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/stadtkasse/image3.webp")
              img.img-fluid(src='../assets/img/projects/stadtkasse/image3.jpg' alt='Besprechung')
            .portfolio-caption
              p(style='float: left;')
                em Besprechung w&auml;hrend des Drehs
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/stadtkasse/image2.webp")
              img.img-fluid(src='../assets/img/projects/stadtkasse/image2.jpg' alt='Au&szlig;enaufnahmen')
            .portfolio-caption
              p(style='float: left;')
                em Au&szlig;enaufnahmen

        .row
          .col-lg-12
            h3.text-uppercase Dreharbeiten
            p.
              Highlight des Drehs war die Flucht auf den Mofas Richtung Helmbrechts, hierf&uuml;r wurden die Darsteller aus dem Dachfenster eines PKWs heraus gefilmt.&#32;
              Geschnitten wurden die angefertigten Aufnahmen dann im Videostudio des Kreisjugendrings. Gef&ouml;rdert wurde das Projekt durch das F&ouml;rderprogramm &quot;In eigener Regie&quot;, einer Gemeinschaftsinitiative der Bayrischen Landeszentrale&#32;
              f&uuml;r neue Medien und des Instituts f&uuml;r Medienp&auml;dagogik in Forschung und Praxis. Au&szlig;erdem wurden die Jugendlichen von erfahrenen Medienschaffenden beraten, unter anderem von&#32;
              zwei Kameram&auml;nnern des Regionalsenders TV Oberfranken.
        .row
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/stadtkasse/image1.webp")
              img.img-fluid(src='../assets/img/projects/stadtkasse/image1.jpg' alt='Dreh Flucht')
            .portfolio-caption
              p(style='float: left;')
                em Dreh der Flucht
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/stadtkasse/image4.webp")
              img.img-fluid(src='../assets/img/projects/stadtkasse/image4.jpg' alt='Sprengung')
            .portfolio-caption
              p(style='float: left;')
                em Sprengung der Stadtkasse
        .row
          .col-lg-12
            h3.text-uppercase Premiere
            .gap-20
            p.
              Die Premiere des Kurzfilms fand im M&uuml;nchberger B&uuml;rgerzentrum statt. Neben dem Film wurde auch ein Beitrag von TV Oberfranken, in dem &uuml;ber das Projekt berichtet wurde, und ein Making-Of&#32;, bestehend aus
              Aufnahmen von der Filmcrew und Versprechern der Darsteller, gezeigt.

    include ../include/footer.pug
