doctype html
html(lang='de')

  include ../include/header_projects.pug
    title AK Video - M&uuml;nchbergs TRAUMhafte Unterwelt
    meta(name='description', content='Behind the Scenes zu unserem Kurzfilm M&uuml;nchbergs TRAUMhafte Unterwelt, den wir 2005 zusammen mit der Parkschule produziert haben')
    meta(name='keywords', content='AK Video, Arbeitskreis, Video, Stadtjugend, akvideo, B&uuml;rgerzentrum, Schatzsuche, Münchberg, Filme, Parkschule, Fichtelgebirge, Waldstein, Ritter, Jugendfilmarbeit, Jugendarbeit, projekt, Tunnel, behind the scenes, hinter den kulissen')

  body#page-top

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#overview') &Uuml;bersicht
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#synopsis') Zusammenfassung
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bts') Behind The Scenes


    //- Masthead
    header.masthead(style='background-image: url(../assets/img/header/header-unterwelt.webp)')
      .container
        .masthead-heading.text-uppercase M&uuml;nch&shy;bergs TRAUM&shy;hafte Unter&shy;welt
        .masthead-subheading Schatzsuche mit der Parkschule M&uuml;nchberg

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

    //- Tables
    section#overview.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase &Uuml;bersicht
        .row
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th technische Details
                    th
                tbody
                  tr
                    td Titel
                    td M&uuml;nchbergs TRAUMhafte Unterwelt
                  tr
                    td Genre
                    td Kurzspielfilm
                  tr
                    td L&auml;nge
                    td 15:00
                  tr
                    td Produktionsjahr
                    td 2005
                  tr
                    td Produktionsort
                    td M&uuml;nchberg
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Crew
                    th
                tbody
                  tr
                    td Organisation
                    td Hugo Singer
                  tr
                    td Kamera
                    td Thomas Hohenberger
                  tr
                    td Kamera
                    td Sebastian Frank
                  tr
                    td Kamera/Regie/Schnitt
                    td Sebastian Quilitz
                  tr
                    td Kamera/Regie/Schnitt
                    td Marco Schott
                  tr
                    td Kamera/Regie/Schnitt
                    td Thimo Bannuscher
                  tr
                    td Licht/Ton
                    td Michael Frank
                 

    section#synopsis.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase(style='margin-bottom: 5%') Kurz&shy;zusammen&shy;fassung
            p Sch&uuml;ler der Parkschule M&uuml;nchberg finden beim Skateboardfahren einen Keller. Nach einem Gespr&auml;ch&#32;
              | in der Schule untersuchen die Sch&uuml;ler den unterirdischen Gang und machen dabei eine fantastische Entdeckung.



    //BTS
    section#bts.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Behind The Scenes
            .gap-20
        .row
          .col-lg-12
            h3.text-uppercase Hintergrund
            blockquote.blockquote.text-right
              p.mb-0(style="line-height: 1.5; font-size: 1rem;").
                &quot;Auch im alten M&uuml;nchberger Landkreis halten sich tapfer einige Geschichten, die von den Abenteuern der Vorfahren in den alten Kellern und Stollen berichten.&#32;
                [...] Besonders interessant ist das M&uuml;nchberger Exemplar, das fr&uuml;her die Stadt mit der Waldsteinburg verbunden haben soll, wo sich die Herren von Sparneck,&#32;
                Patrone der aufstrebenden Siedlung, ein Domizil eingerichtet hatten. Tats&auml;chlich fand man am 19. April 1955 ein gemauertes Gew&ouml;lbe unter der Ludwigstra&szlig;e,&#32;
                das in die eine Richtung auf das Rathaus zulief und in die andere den Weg zum Waldstein einschlug.&quot;
              footer.blockquote-footer
                | Adrian Roßner, Lokalhistoriker, in&#32;
                cite(title='Historischer Landkreis M&uuml;nchberg') 
                  a(href='https://www.blickpunkt-verlag.de/bpws/nachrichten/landkreis_hof/art278486,2195121') Historischer Landkreis M&uuml;nchberg
            p.
              Aufbauend auf dieser mythischen Grundlage haben wir zusammen mit Sch&uuml;lern der M&uuml;nchberger Parkschule eine Geschichte entwickelt, in der Kinder auf den verborgenen&#32;
              Verbindungstunnel zur Waldsteinburg sto&szlig;en.

            
        .row
          .col-lg-2.col-md-4
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image7.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image7.jpg' alt='Storyboard')
            .portfolio-caption
              p(style='float: left;')
                em Storyboard
          .col-lg-5.col-md-8
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image4.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image4.jpg' alt='alte G&auml;nge')
            .portfolio-caption
              p(style='float: left;')
                em Erkundung alter G&auml;nge
          .col-lg-5.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image1.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image1.jpg' alt='Schutzkleidung')
            .portfolio-caption
              p(style='float: left;')
                em Schatzsucher in Schutzkleidung

        .row
          .col-lg-12
            h3.text-uppercase Dreharbeiten
            p.
              Die Dreharbeiten fanden teils in M&uuml;nchberg und teils auf dem Waldstein statt. In M&uuml;nchberg haben wir Szenen unter anderem in der Parkschule, beim Bayrischen Hof&#32;
              und in unterirdischen Kellern und G&auml;ngen in der Ludwigstra&szlig;e gedreht. Auf dem Waldstein war unsere Hauptlocation die auch als Rotes Schloss bekannte Ruine der 
              Waldsteinburg.

        .row
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image5.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image5.jpg' alt='Dreharbeiten 2')
            .portfolio-caption
              p(style='float: left;')
                em Dreharbeiten in M&uuml;nchberg
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image2.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image2.jpg' alt='Drearbeiten')
            .portfolio-caption
              p(style='float: left;')
                em Dreharbeiten in den Kellern
          
        .row
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image3.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image3.jpg' alt='Requisite')
            .portfolio-caption
              p(style='float: left;')
                em Requisite
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/unterwelt/image6.webp")
              img.img-fluid(src='../assets/img/projects/unterwelt/image6.jpg' alt='Crew')
            .portfolio-caption
              p(style='float: left;')
                em Die Crew
          
        .row
          .col-lg-6
            picture
              source(type="image/webp" srcset="../assets/img/history/image4.webp")
              img.img-fluid(src='../assets/img/history/image4.jpg' alt='Urkunde')
            .portfolio-caption
              p(style='float: left;')
                em Urkunde
          .col-lg-6.text-center
            h3.text-uppercase Jufinale 2005
            .gap-20
            p Beim 9. JuFinale, das 2005 im M&uuml;nchberger Apollo-Kino stattfand, konnten wir bei den rund 200 Zuschauerinnen und Zuschauern mit &quot;M&uuml;nchbergs TRAUMhafte Unterwelt&quot;&#32;
              | punkten und bekamen den Publikumspreis &uuml;berreicht.
            h3.text-uppercase Film ansehen
            p Eine DVD des Films kann in der&#32;
              a(href='http://www.stadtbibliothek-muenchberg.de/Permalink.aspx?id=0032480') M&uuml;nchberger Stadtbibliothek
              | &#32;ausgeliehen werden.


    include ../include/footer.pug
