doctype html
html(lang='de')

  include ../include/header_projects.pug
    title AK Video - Zusammen durch die Zeit
    meta(name='description', content='Behind the Scenes zu Zusammen durch die Zeit, den wir 2012 produziert haben')
    meta(name='keywords', content='AK Video, Arbeitskreis, Video, Stadtjugend, akvideo, Gymnasium, Münchberg, Filme, Roboter, Elefant, Preis, Museum, Vergangenheit, Zukunft, Jugendarbeit, projekt, behind the scenes, hinter den kulissen')

  body#page-top

    //- Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='../index.html#page-top')
          picture
            source(type="image/webp" srcset="../assets/img/logo.webp")
            img(src='../assets/img/logo.png', alt='Startseite')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.d-none.d-md-block
            li.nav-item
              a.nav-link.js-scroll-trigger(href='../index.html') Startseite
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#overview') &Uuml;bersicht
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#synopsis') Zusammenfassung
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bts') Behind The Scenes


    //- Masthead
    header.masthead(style='background-image: url(../assets/img/header/header-zddz.webp)')
      .container
        .masthead-heading.text-uppercase Zusammen durch die Zeit
        .masthead-subheading Filmprojekt mit dem Gymnasium M&uuml;nchberg

    script.
      if(/Mac|iPod|iPhone|iPad/.test(navigator.platform))
      {document.getElementsByClassName("masthead")[0].style.backgroundImage = document.getElementsByClassName("masthead")[0].style.backgroundImage.replace("webp", "jpg")}

    //- Tables
    section#overview.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase &Uuml;bersicht
        .row
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th technische Details
                    th
                tbody
                  tr
                    td Titel
                    td Zusammen durch die Zeit
                  tr
                    td Genre
                    td Kurzfilm
                  tr
                    td L&auml;nge
                    td 14:04
                  tr
                    td Produktionsjahr
                    td 2012
                  tr
                    td Produktionsort
                    td M&uuml;nchberg
          .col-sm-6
            .team-member
              table.table.table-sm
                thead.thead-dark
                  tr
                    th Crew
                    th
                tbody
                  tr
                    td Organisation
                    td Hugo Singer
                  tr
                    td Kamera &amp; Ton
                    td Niklas K&ouml;hler
                  tr
                    td Kamera &amp; Ton
                    td Fabian Tatai
                  tr
                    td Kamera &amp; Ton
                    td Philipp Jahn
                  tr
                    td Schnitt
                    td Kari Hennig
                  tr
                    td Darsteller
                    td Klasse 5d
                                  

    section#synopsis.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase(style='margin-bottom: 5%') Kurz&shy;zusammen&shy;fassung
            p.
              Wie hart das Schulleben fr&uuml;her gewesen ist erleben die Sch&uuml;ler der Klasse 5d am eigenen Leib. Durch einen Unfall im Deutschunterricht werden sie von einem Zeitstrudel direkt in die Vergangenheit&#32;
              katapultiert! Um zur&uuml;ckzukehren hilft nur eins: Die Kinder müssen zusamenhalten. Doch das ist gar nicht so leicht, denn die andere H&auml;lfte der Klasse ist in der Zukunft gelandet. Und dort herrschen ganz andere Gesetze...
    //BTS
    section#bts.bg-light.page-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Behind The Scenes
            .gap-20
        .row
          .col-lg-12
            h3.text-uppercase Hintergrund
            p.
              &quot;Zusammen durch die Zeit&quot; erz&auml;hlt die Geschichte von zwei Schulkindern, die Au&szlig;enseiter in ihrer Klasse sind. W&auml;hrend des Unterrichts wird die Klasse pl&ouml;tzlich geteilt.&#32;
              Ein Teil findet sich in einem altmodischen Klassenzimmer inklusive Kaiserprotrait wieder, und wird vom Schulmeister aufgefordert, zur Nagelkontrolle die Finger auf den Tisch zu legen und danach zu Ehren des Kaiserlichen&#32;
              Geburtstages ein Lied zu singen. Die zweite H&auml;lfte der Klasse ist dagegen in einem futuristischen Unterrichtsraum gelandet und wird vom Roboterlehrer aufgefordert, die Wissenstransmitter aufzubehalten. Die Kinder&#32;
              schmieden einen Plan um zu entkommen, sind dazu aber auf die Mithilfe aller angewiesen - auch die der Au&szlig;enseiter, die aber viel lieber in ihren neuen Zeitebenen bleiben w&uuml;rden. Schlie&szlig;lich gelingt&#32;
              es den Sch&uuml;lerinnen und Sch&uuml;lern, sich zu vers&ouml;hnen und in die Gegenwart zur&uuml;ckzukehren.
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/zddz/image3.webp")
              img.img-fluid(src='../assets/img/projects/zddz/image3.jpg' alt='Vergangenheit')
            .portfolio-caption
              p(style='float: left;')
                em Unterricht in der Vergangenheit
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/zddz/image2.webp")
              img.img-fluid(src='../assets/img/projects/zddz/image2.jpg' alt='Zukunft')
            .portfolio-caption
              p(style='float: left;')
                em Roboterlehrer in der Zukunft
        .row
          .col-lg-12
            h3.text-uppercase Dreharbeiten
            p.
              Gedreht wurde der Film teils im Gymnasium M&uuml;nchberg und teils im Schulmuseum Selbitz. Darsteller und Technikassistenten waren Sch&uuml;ler der 5d, der Ganztagesklasse des Gymnasiums. Unterst&uuml;tzt wurden wir&#32;
              au&szlig;erdem vom Forchheimer Kameramann und Filmemacher Kari Hennig.   
        .row
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/zddz/image1.webp")
              img.img-fluid(src='../assets/img/projects/zddz/image1.jpg' alt='Dreharbeiten')
            .portfolio-caption
              p(style='float: left;')
                em Dreh im Gymnasium M&uuml;nchberg
          .col-lg-6.col-md-12
            picture
              source(type="image/webp" srcset="../assets/img/projects/zddz/image4.webp")
              img.img-fluid(src='../assets/img/projects/zddz/image4.jpg' alt='Schulmuseum')
            .portfolio-caption
              p(style='float: left;')
                em Au&szlig;enansicht des Schulmuseums
        .row
          .col-lg-12
            h3.text-uppercase Auszeichnungen
            .gap-20
            p.
              Mit &quot;Zusammen durch die Zeit&quot; konnten wir den vom M&uuml;nchner Medien Club verliehenen Kinder-Medien-Preis &quot;Wei&szlig;er Elefant&quot; in der Kategorie &quot;Einreichungen bis 6. Klasse&quot; gewinnen.&#32;
              Neben der Statue eines Elefanten konnten wir uns &uuml;ber ein Preisgeld in H&ouml;he von 1000&euro; freuen. 

    include ../include/footer.pug
