---
layout: history.liquid
sitemap:
  changefreq: monthly
  priority: 0.85
title: Chronik
---

{% include components/masthead, title: "Wir sind der AK Video!", subtitle:
"Unsere Entwicklung seit 2000:", url: "/assets/img/index/header-bg.jpg" %}

<main>
    <section class="page-section" id="timeline">
        <div class="container">
            <h2 class="text-center">Übersicht: Meilensteine</h2>
            <div id="timeline-embed" style="width: 100%; height: 600px"></div>
        </div>
    </section>
    <section class="bg-light page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Die Gründung</h2>
                    <p style="text-align: justify">
                        Die Geschichte unseres Arbeitskreises beginnt, wie so manches
                                                            unserer Projekte, mit
                        <a href="/portrait/hugo">Hugo Singer.</a>
                        Der
                                                            war um die Jahrtausendwende im Jugendtreff im Münchberger
                                                            Bürgerzentrum als Hauptamtlicher tätig. Zusammen mit einigen
                                                            Jugendlichen begann er, die verschiedenen Angebote und Aktivitäten
                                                            der Stadtjugend auf Film festzuhalten. Nun mit der Technik vertraut,
                                                            begannen Jonas Leutenberger, Sebastian Frank und Philipp Hirschmann
                                                            zusammen mit anderen Jugendlichen, das Drehbuch für den ersten
                                                            eigenen Kurzfilm zu schreiben. Daraus entwickelte sich
                                                            schlussendlich
                        <a href="/projekte/stadtkasse">"Die geklaute Stadtkasse",</a>
                        eine
                                                            Krimikomödie inklusive Verfolgungsjagd und der erste "richtige" Film
                                                            des AK Video.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    {% image "./src/assets/img/uploads/history2.jpg", "Der erste Zeitungsartikel", "img-fluid" %}
                    <div class="portfolio-caption">
                        <p style="float: left">
                            <em>
                                der erste Zeitungsartikel über den Arbeitskreis (Frankenpost
                                                                                2000)
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    {% image "./src/assets/img/uploads/stadtkasse3.jpg", "Dreh Die geklaute Stadtkasse" "img-fluid"%}
                    <div class="portfolio-caption">
                        <p style="float: left">
                            <em>Dreharbeiten zu "Die geklaute Stadtkasse"</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    {% image "./src/assets/img/uploads/history3.jpg", "Urkunde JUFINALE 2003" "img-fluid"%}
                </div>
                <div class="col-lg-7 col-md-12">
                    <h2 class="text-center">Weitere Filmprojekte</h2>
                    <p style="text-align: justify">
                        Weiter ging es mit dem Kurzfilm
                        <a href="/projekte/probe">"Die Probe"</a>
                        den wir zusammen mit
                                                            Schülern aus Poppenreuth gedreht haben, und mit dem wir beim
                                                            JuFinale 2003 den Preis für den besten Film gewinnen konnten. Zwei
                                                            Jahre später erkundeten wir zusammen mit Grundschülern einen
                                                            sagenumwobenen Geheimgang, der Münchberg mit der Waldsteinburg
                                                            verbinden soll (<a href="/projekte/unterwelt">
                            "Münchbergs TRAUMhafte Unterwelt"
                        </a>). Der Waldstein war später auch die Kulisse für einen weiteren
                                                            Film:
                        <a href="/projekte/waldstein">"Das Geheimnis des Waldsteins".</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-4">
                    <h2 class="text-center">Kooperationen</h2>
                    <p style="text-align: justify">
                        Oft organisieren wir Workshops oder Filmprojekte zusammen mit
                                                            anderen Jugendfilmgruppen in der Region. Insbesondere mit der
                                                            Filmwerkstatt Helmbrechts, aber auch mit den Jugendtreffs
                                                            benachbarter Orte, so zum Beispiel Schwarzenbach oder Stammbach,
                                                            konnten wir in der Vergangenheit schon erfolgreich Projekte auf die
                                                            Beine stellen. Zusammen mit Jugendlichen vom Schwarzenbacher
                                                            Jugendtreff "Gleis 2" haben wir beispielsweise den Film
                        <a href="/projekte/panzerknacker">
                            "Die Panzerknacker schlagen zu"
                        </a>
                        gedreht und mit Jugendlichen des Stammbacher Jugendtreffs "ZOOM" den
                                                            Film "Das letzte Paket", der auch beim JuFinale einen Preis gewinnen
                                                            konnte. Diese Kooperationen waren für alle Beteiligten immer sehr
                                                            wertvoll, da sie einen Austausch von Technik, Know-how und Helfern
                                                            ermöglichen und damit auch die Realisierung komplexerer Projekte
                                                            erlauben.
                    </p>
                    <h2 class="text-center">Finanzierung</h2>
                    <p style="text-align: justify">
                        Bei vielen unserer Projekte werden wir vom Kreis- und
                                                            Bezirksjugendring unterstützt;. Davon abgesehen sind wir als
                                                            gemeinnütziger Verein auch auf Spenden angewiesen. Früher haben wir
                                                            im alten Götz-Gebäude mit der Organisation von Flohmärkten Geld für
                                                            die Umsetzung neuer Filme verdient, seit dem Abriss des Gebäudes
                                                            fehlt uns diese Einnahmequelle allerdings.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Der Medienraum</h2>
                    <p style="text-align: justify">
                        Der Medienraum ist unser eigener Raum im zweiten Stock des
                                                            Bürgerzentrums, in dem wir unsere Technik aufbewahren und uns
                                                            treffen, um neue Ideen zu besprechen, Workshops durchzuführen oder
                                                            Filme zu schneiden.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12">
                    {% image "./src/assets/img/uploads/history4.jpg", "Medienraum Anfang der 2000er" "img-fluid"%}
                    <div class="portfolio-caption">
                        <p style="float: left">
                            <em>Medienraum Anfang der 2000er</em>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    {% image "./src/assets/img/uploads/history5.jpg", "Medienraum 2020" "img-fluid"%}
                    <div class="portfolio-caption">
                        <p style="float: left">
                            <em>Teil des Medienraums 2020</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%include components/contact.liquid , title: "Du willst Teil des AK Videos
  werden?" %}
</main>
