---
layout: base.liquid
sitemap:
  changefreq: weekly
  priority: 0.9
meta:
  title: Startseite | Arbeitskreis Video
---

{% include components/masthead, title: "Wir sind der AK Video!", subtitle:
"Jugendfilmarbeit seit 2000.", url: "/assets/img/index/header-bg.jpg" %}

<main>
    <section class="page-section bg-light" id="projects">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Projekte</h2>
                <h3 class="section-subheading text-muted">
                    Eine Auswahl an Filmen und Projekten, die wir in den letzten Jahren organisiert haben.
                </h3>
            </div>
            <div class="row">
                {% for movieString in frontpage.index.featuredProjects %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        {% assign movie = movieString | makeMovie %}
                        {% include
          components/frontpage/moviecard with movie %}
                    </div>
                {% endfor %}

                <div class="mt-5">
                    <a class="mx-auto btn btn-primary btn-xl text-uppercase" href="/projekte/">
                        Mehr Projekte
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="history">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">20 Jahre AK Video</h2>
                <p class="text-muted mb-4">
                    Der Arbeitskreis Video ist ein Zusammenschluss von Jugendlichen, die 
                                                                                                                                                                                                                                                                    die Begeisterung für Film teilen und gerne selbst kreativ werden. Der 
                                                                                                                                                                                                                                                                    AK Video ist Teil der Stadtjugend Münchberg und wurde 1999 von
                    <a href="/portrait/hugo">Hugo Singer</a>
                    gegründet. Neben unseren Filmprojekten organisieren wir auch Workshops
                                                                                                                                                                                                                                                                    und Abenteuerfreizeiten. Da wir größtenteils Schüler und Studenten 
                                                                                                                                                                                                                                                                    sind, sind wir auch immer auf der Suche nach
                    <a href="#contact">Sponsoren und Unterstützern</a>
                    für unsere
                    <a href="/projekte/">Projekte.</a>
                </p>
            </div>
            <ul class="timeline mt-5">
                <li>
                    <div class="timeline-image">
                        {% image "./src/assets/img/index/1.jpg", "Bild Generation 1", "rounded-circle img-fluid" %}
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>2000-2005</h3>
                            <h4 class="subheading">Anfangsphase</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Der AK Video hat Ende des zwanzigsten Jahrhunderts als Gruppe
                                                                                                                                                                                                                                                                   von filmbegeisterten Jugendlichen begonnen, die die
                                                                                                                                                                                                                                                                   verschiedenen Aktivitäten der Stadtjugend Münchberg auf Video
                                                                                                                                                                                                                                                                   festhielten. 2000 drehte die erste Generation des Arbeitskreises
                                                                                                                                                                                                                                                                   den ersten gemeinsamen Kurzfilm:
                                <a href="/projekte/die-geklaute-stadtkasse/">"Die geklaute Stadtkasse".</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        {% image "./src/assets/img/index/2.jpg", "Bild Generation 2", "rounded-circle img-fluid" %}
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>2005-2011</h3>
                            <h4 class="subheading">2. Generation</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                In dieser Zeit fanden viele Kooperationen mit Schulen der
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Umgebung statt, so zum Beispiel der in Zusammenarbeit mit der
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Parkschule Münchberg entstandene Film
                                <a href="/projekte/münchbergs-traumhafte-unterwelt/">
                                    "Die TRAUMhafte Münchberger Unterwelt"
                                </a>
                                oder
                                <a href="/projekte/stuhlgeschichten-menschen-auf-stühlen/">
                                    "Stuhlgeschichten - Menschen auf Stühlen"
                                </a>
                                zusammen mit der staatlichen Realschule Helmbrechts.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        {% image "./src/assets/img/index/3.jpg", "Bild Generation 3", "rounded-circle img-fluid" %}
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>2011-2019</h3>
                            <h4 class="subheading">3. Generation</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Mit Filmen wie
                                <a href="/projekte/panzerknacker">"Die Panzerknacker",
                                </a>
                                <a href="/projekte/lichtblick">"Lichtblick"</a>
                                und
                                <a href="/projekte/sackgasse">"Sackgasse"</a>
                                war es insbesondere Philipp Jahn, der die 3. Generation des AK
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Video prägte.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <picture>
                            {% image "./src/assets/img/index/4.jpg", "Bild Generation 4", "rounded-circle img-fluid" %}
                        </picture>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3>seit 2019</h3>
                            <h4 class="subheading">4. Generation</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Aktuell sind wir auf der Suche nach neuen, insbesondere auch
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                jüngeren Mitgliedern für den Arbeitskreis. Die meisten
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Mitglieder der letzten Generation sind noch dabei, aber aufgrund
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                von Schule oder Studium nicht mehr in der Lage, so häufig wie
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                früher Projekte durchzuführen. Willst du mit dabei sein?
                                <a href="#contact">Dann melde dich bei uns!</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-primary btn-xl text-uppercase mt-4" href="#contact">
                        Du willst die Zukunft mitgestalten?
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-light" id="awards">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">
                    Auszeich­nungen &amp; Preise
                </h2>
                <h3 class="section-subheading text-muted">
                    Wir haben im Lauf der Jahre mit unseren Filmen an etlichen
                                                                                                                                                                                                                                                                                                                      Wettbewerben teilgenommen<br/>und einige Preise gewonnen. Hier eine
                                                                                                                                                                                                                                                                                                                      Auswahl:
                </h3>
            </div>
            <div class="row">
                {% for award in frontpage.index.awards %}
                    {% include
        components/frontpage/award, award: award %}
                {% endfor %}
            </div>
        </div>
    </section>

    {%include components/contact.liquid %}
</main>
