---
layout: search.liquid
---

<main>
  <section class="page-section bg-light mt-5">
    <div class="container">
      <h1 class="my-3 section-heading">Suche</h1>
      <div class="text-center" id="spinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div id="output"></div>
    </div>

    <div class="container">
      <form id="searchform">
        <input
          type="search"
          name="query"
          id="queryfield"
          class="form-control"
          placeholder="Suchbegriff"
          required
          aria-required
        />
        <div class="d-grid gap-2 mt-3">
          <input type="submit" class="btn btn-primary fw-bold" />
        </div>
      </form>
    </div>
  </section>
</main>
