---
layout: base.liquid
---

{% include components/masthead, title: "Wir sind der AK Video!", subtitle:
"Jugendfilmarbeit seit 2000.", url: "/assets/img/index/header-bg.jpg" %}

<main>
  <section class="page-section bg-light" id="projects">
    <div class="container"></div>
  </section>
</main>
