a.navbar-brand {
  color: var(--bs-primary) !important;
  font-weight: 600;
}

.page-section {
  padding: 5rem 0;
  h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: $subheadings-font-family;
    margin-bottom: 4rem;
  }
}

@include media-breakpoint-up(md) {
  section {
    padding: 7rem 0;
  }
}

body {
  /* Makes footer stick to bottom */
  min-height: 100vh !important;
  @extend .d-flex;
  @extend .flex-column;
  footer {
    margin-top: auto;
  }
}

.md-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @extend .mb-2;
    @extend .mt-4;
  }
}
